
@font-face {
    font-family: text;
    src: url(Polices/ProggyVector\ Regular.ttf);
}
@font-face {
    font-family: title;
    src: url(Polices/Cooper\ Black\ Regular.ttf);
}


html
{
    scroll-behavior:smooth;
}

body
{
    background-color: #5F264A;
}
.navbar
{  

    margin: 25px;
    width: 100%;
   
    display: flex;
}

.navbar .mainTitle
{ 
    font-size: 40px;
  
    font-family: title;
    width: 90%;
    
}
.navbar .mainTitle a
{   text-decoration: none;
    display: flex;
    align-items:baseline;
    color: white;
}


.navbar .mainTitle a .High
{    font-size: 100px;
}
.navbar .MenuBar
{  color: white;
    margin: auto;
    width: 10%;
    height: 100%;
    align-items: baseline;
    text-align: center;
    vertical-align: baseline;
}

.navbar .MenuBar .element a img
{
    width: 50px;
    height: 50px;
}


/* Introduction*/
.introduction 
{
    height: 700px;
}
.introduction .content
{
    display: flex;
    margin: auto;
    margin-left: 200px;
    align-items: center;
    height: 600px;
    width: 80%;
}

.introduction .content .informations
{
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    
}

.introduction .content .informations .infoContainer 
{   
    margin: auto;

    width: 80%;
    height: 0%;
    background-color: #42032b;;
    border-radius: 25px;
    color: transparent;
    font-family: text;
    transition: all 1s;
}

.introduction .content .informations .infoAppear
{
    color: white;
    transition: all 1s;
    width: 80%;
    height: 80%;
}



.titleDetail
{ 
    margin: auto;
    color: white;
    align-items: center;
    text-align: center;
    font-size: 35px;
    width: fit-content;
    font-family: title;
}

.introduction .content .informations .infoContainer .titleDetail
{
   
    margin-top: 20px;

}
.introduction .content .informations .infoContainer li
{
    margin-top: 30px;
}



.introduction .content .trailer
{
    display: flex;
    align-items: center;
    width: 0%;
    height: 100%;
    transition: all 1s;
   
}

.introduction .content .trailerVid
{
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
    transition: all 1s;
}


.introduction .content .trailer video
{  

    width: 100%;

}

.projectInfo  
{
  
}

.projectInfo .content
{
    width: 80%;
    background-color: #42032b;
    border-radius: 15px;
}
.projectInfo .content .aboutProjectContainer
{
    
    display: flex;
    margin: auto ;
    font-family: text;
    color: white;
    text-align: center;
    height: 130px;


}

.projectInfo .content  .aboutProjectContainer .aboutProject
{
    margin: auto ;
    width: 90%;
    text-align: justify;
}


.projectInfo .content .engineScreen 
{
    display: flex;
    padding-bottom: 25px;
}

.projectInfo .content .engineScreen img
{
    margin: auto;
}


.projectInfo  .content .titleContainer 
{
    display: flex;
   
}

.projectInfo  .content .titleContainer .titleDetail
{
    margin-top: 25px;
}

.projectInfo .content .personalWorkContainer
{
    display: flex;
    margin: auto ;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 90%;
}

.projectInfo .content  .personalWorkContainer .personalWork
{
    margin: auto;
}

.text
{
    color: white;
    font-family: text;
}




/*Presentation*/

.presentation 
{

}   

.presentation .title 
{
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family : "title";
}


.content
{
    max-width: 1700px;
    margin: auto;
}
.presentation .intro
{
    font-family: "text";
    margin-top: 50px;
}

.presentation .intro .section 
{
    display: flex;
}

.presentation .intro .alpha .one 
{
    width: 35%;
    text-align: justify;
    margin: auto;
}

.presentation .intro .alpha .two
{
    
    width: 47%;
    margin-left:  1.5%;
    margin-right:  1.5%;
}

.presentation .intro .section .two img
{
    height: 500px; 
    width: 100%;
}

.presentation .intro .beta
{
    margin-top: 50px;
}
.presentation .intro .beta .one 
{ 
    text-align: justify;
    margin-left:  7.5%;
    margin-right:  7.5%;
    width: 35%;

}

.presentation .intro .beta .two
{   text-align: justify;
    margin-left:  7.5%;
    margin-right:  7.5%;
    width: 35%;
}


.presentation .intro .section
{
    margin-top: 50px;
}

.presentation .intro .gamma .one 
{
 margin-left:  1.5%;
    margin-right:  1.5%;
    width: 47%;
    text-align: justify;
    
}

.presentation .intro .gamma .two
{   text-align: justify;
    margin: auto;
    width: 35%;
}
.presentation .intro .gamma .one img
{
    height: 500px;
    width: 100%;
}
.presentation .intro .delta .one 
{
    width: 47%;
    text-align: justify;
    margin: auto;
}

.presentation .intro .delta .two
{   text-align: justify;
    margin: auto;
    width: 35%;
}
.presentation .intro .delta .one img
{
    height: 500px;
    width: 100%;
}


.presentation .intro .epsilon .one 
{
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 47%;
}

.presentation .intro .epsilon .two
{   
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 47%;
}
.presentation .intro .epsilon .one img
{
    height: 500px;
    width: 100%;
}

.title
{
    font-size: 40px;
    font-family: title;
    padding-left: 50px;
    color: #E5CFF7;
}

