
@font-face {
    font-family: text;
    src: url(Polices/ProggyVector\ Regular.ttf);
}
@font-face {
    font-family: title;
    src: url(Polices/Cooper\ Black\ Regular.ttf);
}


html
{
    scroll-behavior:smooth;
    background-color: rgb(92, 54, 128);
}
.navbar
{  

    margin: 25px;
    width: 100%;
   
    display: flex;
}

.navbar .mainTitle
{ 
    font-size: 40px;
  
    font-family: title;
    width: 90%;
    
}
.navbar .mainTitle a
{   text-decoration: none;
    display: flex;
    align-items:baseline;
    color: black;
}


.navbar .mainTitle a .High
{    font-size: 100px;
}
.navbar .MenuBar
{  color: black;
    margin: auto;
    width: 10%;
    height: 100%;
    align-items: baseline;
    text-align: center;
    vertical-align: baseline;
}

.navbar .MenuBar .element a img
{
    width: 50px;
    height: 50px;
}

/*Presentation*/

.presentation 
{

}

.presentation .title 
{
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family : "title";
}


.content
{
    max-width: 1700px;
    margin: auto;
}
.presentation .intro
{
    font-family: "text";
    margin-top: 50px;
}

.presentation .intro .section 
{
    display: flex;
}

.presentation .intro .alpha .one 
{
    width: 35%;
    text-align: justify;
    margin: auto;
}

.presentation .intro .alpha .two
{
    
    width: 47%;
    margin-left:  1.5%;
    margin-right:  1.5%;
}

.presentation .intro .section .two img
{
    height: 500px; 
    width: 100%;
}

.presentation .intro .beta
{
    margin-top: 50px;
}
.presentation .intro .beta .one 
{ 
    text-align: justify;
    margin-left:  7.5%;
    margin-right:  7.5%;
    width: 35%;

}

.presentation .intro .beta .two
{   text-align: justify;
    margin-left:  7.5%;
    margin-right:  7.5%;
    width: 35%;
}


.presentation .intro .section
{
    margin-top: 50px;
}

.presentation .intro .gamma .one 
{
 margin-left:  1.5%;
    margin-right:  1.5%;
    width: 47%;
    text-align: justify;
    
}

.presentation .intro .gamma .two
{   text-align: justify;
    margin: auto;
    width: 35%;
}
.presentation .intro .gamma .one img
{
    height: 500px;
    width: 100%;
}
.presentation .intro .delta .one 
{
    width: 47%;
    text-align: justify;
    margin: auto;
}

.presentation .intro .delta .two
{   text-align: justify;
    margin: auto;
    width: 35%;
    color: black;
}

.presentation .intro .delta .one a
{
    color: black  ;
}
.presentation .intro .delta .one img
{
    height: 500px;
    width: 100%;
}


.presentation .intro .epsilon .one 
{
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 47%;
}

.presentation .intro .epsilon .two
{   
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 47%;
}
.presentation .intro .epsilon .one img
{
    height: 500px;
    width: 100%;
}

