
@font-face {
    font-family: text;
    src: url(Polices/ProggyVector\ Regular.ttf);
}
@font-face {
    font-family: title;
    src: url(Polices/Cooper\ Black\ Regular.ttf);
}




body
{
    scroll-behavior:smooth;
    background: #5F264A;
    margin: 0;
}
.navbar
{  

    margin: 25px;
    width: 90%;
   margin-left: auto;
   padding-right: 30px; 
   display: flex;
}
.navbar .ButtonContainer
{
    margin-left: auto;
    display: flex;
}

.navbar .ButtonContainer .Button
{
    font-family: text;
    color: white;
    font-size: 18px;
    font-weight: 100;
    width: fit-content;
    padding-left: 75px;
}

/* Presentation */

.presentation
{

    width: 100%;
    height: 800px;
    display:  flex;
}   
.presentation .content
{
    width: 800px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 25px;
    font-family: text;
    margin: auto;
    height: 70%;
    color: transparent;
    border-style: dashed;
    border: 2px solid;
    transition: all  1s;

    
}

.presentation  .test
{
    width: 800px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-family: text;
    margin: auto;
    height: 20%;
    color: #c7b1b1;
    font-size: 25px;
    transition: all 2s ;
    border: 2px solid;
    border-style: dashed;

    text-align: center;
}

.presentation .content .name
{
    font-size: 40px;
    font-family: title;
    text-align: center;
    color: transparent;
}

.presentation .test .name
{
    font-size: 40px;
    font-family: title;
    text-align: center;
    color: white;
}

/*Hint part */

.hint
{
    align-items: center;
    text-align: center;
    font-size: 0px;
    font-family: text; 
    color: transparent;

    height:  100px;
    transition: all  1s;
}

.hintVisible
{
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-family: text; 
    color: #c7b1b1;
    height:  100px;
    transition: all  1s;
}

/* Galeries */


.WorkContent
{   padding-top: 100px;
    height: 900px;
    background: #27101f;
}
.title 
{

    
    font-size: 40px;
    font-family: title;
    padding-left: 50px;
    color: #E5CFF7;

}
.Galerie
{  
    display: flex;
    padding-top: 50px;
    align-items: center;
}

.Galerie .GalerieContainer
{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
}

.Galerie .GalerieContainer .Project
{
    display: flex;
    position: relative;
    width: 300px;
    height: 600px;
    margin-left: auto;
    margin-right: auto  ;
    background-color: #957777;
    align-items: center;
    
  
}
.Galerie .Project a 
{
    width: 100%;
    height: 100%;
}
.Galerie .Project a img
{
    width: 100%;
    height: 100%;
    filter: blur(2px) grayscale(100%);
    transition: all 1.0s;
    object-fit: cover;
}

.Galerie .Project a:hover img
{
    width: 100%;
    height: 100%;
    transition: all 1.0s;
    filter: none;
    object-fit: cover;
}

.Galerie .Project .name
{
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-family: text;
}

.Galerie .Project .tag
{
    margin-left: 10px;
    margin-right: 20px;
    background-color: #5F264A;
    position: absolute;
    color: #c7b1b1;
    width: 93%;
    margin-top: 500px;
    text-align: center;
    font-size: 15px;
    font-family: text;
}


.aboutme .aboutmeContainer
{ 
    display: flex;
    margin: auto;
    width: 50%;
    align-items: center;
    vertical-align:middle;

}

.aboutmeContainer .Content
{
    height: 50%;
    width: fit-content;
    margin: auto;
    border: 5px  white;
    border-style: dotted;
    border-radius: 3px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

.aboutmeContainer .title
{
    font-size: 60px;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    padding-left: 0px;
    color:  white ;
}

.aboutmeContainer .textPresentation
{
    padding-top: 20px;
    text-align: justify;
    font-family: text;
    color:  white ;
}

.tools 
{
    display: flex;
    margin: auto;
      align-items: center;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    width: 50%;
    height: 300px;
}

.tools .contentBox

{
    border-radius:25px;
    background-color: #27101f;
    margin: auto;
    width: 80%  ;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.aboutme
{
    display: flex;
    align-items: center;
    height: 500px ;
    margin: auto;
    background-color: #5a1842;
}



.tools .title
{
    color: white    ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.tools .toolsIcon
{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    grid-auto-columns: minmax(10px, 300px); 
    align-items: center;

}



.tools .langue

{       padding-left: 15px;
    padding-right: 15px;
    margin: auto;
     border: 3px solid white;
    border-radius: 10px;
    color: white;
    font-family: text;
    text-align: center;
    min-width: 50px;
    max-width: max-content;
    font-size: 25px;
   
}
.tools .script .scriptName
{
    color: white    ;
    margin-left: 10px;
    font-family: text;
}

.Footer
{   
    align-items: center;
    height: 180px;

    background-color:  rgb(95, 95, 95);
}


.Footer .Text
{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: text;
    font-size: 20px;
    color: white;
    text-align:  center;
}

.Footer .FooterContainer
{
    display: flex;
    margin: auto;
    width: 20%;
    height: 100px;
}
.Footer .reseau
{
  
    display: flex;
    align-items: center;
    vertical-align: middle;
    font-family: text;
    margin-left: auto;
    margin-right: auto;
}


.Footer .reseau img
{
    width: 50px;
    height:  50px;
}


@media (max-width: 1000px) 
{   

    .presentation
{

    width: 100%;
    height: 600px;
    display:  flex;
}   

    .WorkContent
{   padding-top: 100px;
    height:700px;
    background: #27101f;
}

    .Galerie .GalerieContainer
{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
}

    .Galerie .GalerieContainer .Project
    {
        display: flex;
        position: relative;
        width: 200px;
        height: 400px;
        margin-left: auto;
        margin-right: auto  ;
        background-color: #957777;
        align-items: center;
        
      
    }


    .Galerie .Project .tag
{
    margin-left: 10px;
    margin-right: 20px;
    background-color: #5F264A;
    position: absolute;
    color: #c7b1b1;
    width: 93%;
    margin-top: 300px;
    text-align: center;
    font-size: 15px;
    font-family: text;
}

}