
@font-face {
  font-family: text;
  src: url(Polices/ProggyVector\ Regular.ttf);
}
@font-face {
  font-family: title;
  src: url(Polices/Cooper\ Black\ Regular.ttf);
}
body {
  scroll-behavior: smooth;
  background: linear-gradient(90deg, rgb(95, 38, 74) 0%, rgb(149, 62, 86) 100%);
  margin: 0;
}

.navbar {
  margin: 25px;
  width: 90%;
  margin-left: auto;
  padding-right: 0px;
  display: flex;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  justify-content: center;
  z-index: 200;
}

.navbar .ButtonContainer {
  display: flex;
  width: 500px;
  height: 50px;
  border-radius: 15px;
  border: solid;
  border-color: #fac05a;
  border-width: 2px;
  background-color: #c56158;
}

.navbar .ButtonContainer .Button {
  margin: auto;
  font-family: text;
  color: white;
  font-size: 18px;
  font-weight: 100;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 1s;
  text-align: center;
  width: 150px;
  border-radius: 10px;
}

.navbar .ButtonContainer .Button:hover {
  text-align: center;
  background-color: #fac05a;
  transition: all 1s;
}

/* Presentation */
.presentation {
  width: 100%;
  height: 700px;
  padding-top: 50px;
  display: flex;
}

.presentation .content {
  width: 800px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  text-align: justify;
  font-size: 25px;
  font-family: text;
  margin: auto;
  height: 70%;
  color: transparent;
  border-style: dashed;
  border: 2px solid;
  transition: all 1s;
}

.presentation .test {
  margin: auto;
  height: 20%;
  color: #ffe5fd;
  transition: all 2s;
  border: 2px solid;
  border-style: dashed;
  text-align: center;
}

.presentation .content .name {
  font-size: 40px;
  font-family: title;
  text-align: center;
  color: transparent;
}

.presentation .test .name {
  font-size: 40px;
  font-family: title;
  text-align: center;
  color: #f9f871;
}

/*Hint part */
.hint {
  align-items: center;
  text-align: center;
  font-size: 0px;
  font-family: text;
  color: transparent;
  display: block;
  height: 300px;
  transition: all 1s;
}

.hintVisible {
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-family: text;
  display: block;
  color: #ffe5fd;
  height: 200px;
  -webkit-text-decoration: underline 3px solid #ffe5fd;
          text-decoration: underline 3px solid #ffe5fd;
  text-underline-position: under;
  transition: all 1s;
}

.hint .textHint {
  height: 60px;
}

.hint img {
  width: 60px;
  height: 60px;
  animation-name: glissement;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes glissement {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 15px;
  }
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
.star-layers {
  height: 320vh;
  overflow: hidden;
  position: relative;
}
.star-layers .star-layer {
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
}
.star-layers .star-layer::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
}
.star-layers #stars {
  box-shadow: 223px 842px #FFF, 103px 589px #FFF, 1033px 1570px #FFF, 1339px 831px #FFF, 47px 915px #FFF, 856px 1947px #FFF, 562px 1575px #FFF, 1349px 1514px #FFF, 50px 731px #FFF, 143px 1608px #FFF, 355px 989px #FFF, 932px 633px #FFF, 1330px 1276px #FFF, 1854px 1123px #FFF, 1973px 1642px #FFF, 934px 959px #FFF, 587px 1385px #FFF, 1972px 1226px #FFF, 547px 1928px #FFF, 978px 1299px #FFF, 964px 856px #FFF, 289px 598px #FFF, 1454px 1162px #FFF, 406px 1438px #FFF, 1009px 1741px #FFF, 1169px 1321px #FFF, 239px 1236px #FFF, 694px 687px #FFF, 284px 427px #FFF, 499px 576px #FFF, 1291px 1660px #FFF, 1228px 82px #FFF, 1846px 202px #FFF, 1249px 1882px #FFF, 800px 855px #FFF, 673px 1272px #FFF, 1208px 380px #FFF, 1240px 1321px #FFF, 1905px 1669px #FFF, 1768px 414px #FFF, 1482px 1580px #FFF, 1330px 225px #FFF, 1469px 1012px #FFF, 1250px 1647px #FFF, 1590px 1986px #FFF, 232px 813px #FFF, 1360px 692px #FFF, 1699px 1920px #FFF, 1269px 1283px #FFF, 748px 1343px #FFF, 304px 1095px #FFF, 1520px 582px #FFF, 1523px 1944px #FFF, 901px 756px #FFF, 358px 1930px #FFF, 1917px 700px #FFF, 347px 629px #FFF, 968px 565px #FFF, 1315px 845px #FFF, 645px 799px #FFF, 201px 617px #FFF, 1822px 649px #FFF, 584px 408px #FFF, 1155px 9px #FFF, 1070px 1492px #FFF, 1975px 1164px #FFF, 1136px 1542px #FFF, 1555px 449px #FFF, 1642px 1829px #FFF, 1677px 1335px #FFF, 542px 387px #FFF, 1639px 1525px #FFF, 411px 1761px #FFF, 260px 690px #FFF, 535px 1815px #FFF, 73px 735px #FFF, 427px 173px #FFF, 106px 1078px #FFF, 1384px 860px #FFF, 66px 377px #FFF, 804px 1980px #FFF, 392px 1825px #FFF, 1667px 354px #FFF, 1052px 112px #FFF, 1827px 1693px #FFF, 1604px 1112px #FFF, 1224px 1840px #FFF, 812px 1274px #FFF, 1403px 832px #FFF, 135px 1357px #FFF, 1800px 1106px #FFF, 720px 256px #FFF, 233px 1749px #FFF, 228px 801px #FFF, 244px 1644px #FFF, 1975px 47px #FFF, 846px 306px #FFF, 1895px 1315px #FFF, 647px 68px #FFF, 674px 1021px #FFF, 1621px 942px #FFF, 1302px 274px #FFF, 1398px 183px #FFF, 1446px 449px #FFF, 763px 517px #FFF, 276px 1847px #FFF, 94px 273px #FFF, 1727px 1611px #FFF, 905px 1748px #FFF, 785px 24px #FFF, 1024px 1899px #FFF, 713px 575px #FFF, 34px 882px #FFF, 1844px 1336px #FFF, 580px 1917px #FFF, 277px 1783px #FFF, 1289px 27px #FFF, 1006px 521px #FFF, 1800px 940px #FFF, 541px 1430px #FFF, 585px 586px #FFF, 864px 1311px #FFF, 1886px 1900px #FFF, 1234px 1292px #FFF, 271px 1123px #FFF, 1288px 398px #FFF, 1962px 986px #FFF, 1640px 121px #FFF, 1433px 1958px #FFF, 459px 176px #FFF, 1112px 1230px #FFF, 1844px 910px #FFF, 952px 1503px #FFF, 566px 631px #FFF, 502px 1909px #FFF, 855px 752px #FFF, 1942px 780px #FFF, 173px 1061px #FFF, 267px 415px #FFF, 1107px 540px #FFF, 1133px 101px #FFF, 1307px 390px #FFF, 1103px 1827px #FFF, 617px 1650px #FFF, 113px 1009px #FFF, 905px 1880px #FFF, 522px 860px #FFF, 933px 159px #FFF, 400px 1161px #FFF, 1207px 1433px #FFF, 870px 389px #FFF, 1743px 356px #FFF, 640px 354px #FFF, 1115px 831px #FFF, 568px 227px #FFF, 1734px 1062px #FFF, 485px 592px #FFF, 229px 989px #FFF, 685px 327px #FFF, 1138px 976px #FFF, 43px 1186px #FFF, 1485px 296px #FFF, 1016px 340px #FFF, 1434px 1403px #FFF, 1918px 1778px #FFF, 1061px 420px #FFF, 309px 175px #FFF, 789px 896px #FFF, 969px 1790px #FFF, 1059px 267px #FFF, 1588px 1911px #FFF, 908px 1801px #FFF, 1001px 1889px #FFF, 1171px 664px #FFF, 1781px 515px #FFF, 352px 191px #FFF, 396px 1170px #FFF, 805px 1770px #FFF, 1429px 1499px #FFF, 280px 504px #FFF, 1641px 1558px #FFF, 314px 791px #FFF, 63px 1148px #FFF, 1491px 757px #FFF, 1726px 111px #FFF, 1175px 875px #FFF, 279px 966px #FFF, 677px 1660px #FFF, 1035px 1076px #FFF, 1229px 842px #FFF, 99px 501px #FFF, 1436px 1377px #FFF, 745px 1023px #FFF, 461px 301px #FFF, 1280px 730px #FFF, 41px 170px #FFF, 632px 949px #FFF, 39px 1462px #FFF, 1633px 1289px #FFF, 1371px 371px #FFF, 534px 534px #FFF, 1606px 84px #FFF, 1908px 1396px #FFF, 1105px 1148px #FFF, 1918px 1885px #FFF, 1482px 1455px #FFF, 1408px 688px #FFF, 514px 867px #FFF, 544px 1899px #FFF, 522px 375px #FFF, 1774px 601px #FFF, 791px 1252px #FFF, 361px 7px #FFF, 928px 703px #FFF, 1834px 406px #FFF, 1354px 508px #FFF, 142px 716px #FFF, 1670px 632px #FFF, 1053px 1072px #FFF, 1148px 21px #FFF, 768px 1225px #FFF, 1017px 1146px #FFF, 1858px 962px #FFF, 1891px 1144px #FFF, 1150px 1296px #FFF, 685px 212px #FFF, 940px 1836px #FFF, 1666px 1865px #FFF, 934px 1588px #FFF, 1311px 881px #FFF, 1887px 265px #FFF, 486px 743px #FFF, 4px 1512px #FFF, 260px 1509px #FFF, 465px 798px #FFF, 449px 1490px #FFF, 642px 1052px #FFF, 1683px 1153px #FFF, 210px 1584px #FFF, 857px 1341px #FFF, 878px 1829px #FFF, 483px 1089px #FFF, 386px 682px #FFF, 174px 1841px #FFF, 1062px 332px #FFF, 1496px 170px #FFF, 1878px 1285px #FFF, 1087px 1581px #FFF, 1108px 649px #FFF, 948px 1455px #FFF, 1159px 1783px #FFF, 937px 1778px #FFF, 50px 1705px #FFF, 509px 1952px #FFF, 599px 1471px #FFF, 262px 1140px #FFF, 772px 655px #FFF, 1424px 965px #FFF, 1528px 1020px #FFF, 139px 1442px #FFF, 978px 1524px #FFF, 111px 615px #FFF, 693px 635px #FFF, 370px 1923px #FFF, 1474px 21px #FFF, 909px 694px #FFF, 812px 229px #FFF, 1942px 660px #FFF, 464px 1328px #FFF, 1401px 267px #FFF, 1807px 1369px #FFF, 21px 754px #FFF, 451px 178px #FFF, 30px 464px #FFF, 157px 1860px #FFF, 1067px 872px #FFF, 488px 1041px #FFF, 1706px 801px #FFF, 1801px 625px #FFF, 323px 821px #FFF, 1438px 1694px #FFF, 1907px 922px #FFF, 254px 1777px #FFF, 1883px 672px #FFF, 985px 1777px #FFF, 496px 592px #FFF, 562px 994px #FFF, 213px 1866px #FFF, 1660px 585px #FFF, 493px 778px #FFF, 1878px 1215px #FFF, 1763px 969px #FFF, 1251px 103px #FFF, 470px 1050px #FFF, 1200px 1940px #FFF, 917px 1306px #FFF, 768px 1379px #FFF, 607px 1252px #FFF, 856px 717px #FFF, 691px 1478px #FFF, 914px 128px #FFF, 9px 346px #FFF, 865px 1795px #FFF, 235px 1595px #FFF, 1991px 1846px #FFF, 1772px 1067px #FFF, 1481px 186px #FFF, 1766px 1220px #FFF, 155px 491px #FFF, 651px 1481px #FFF, 1241px 1797px #FFF, 1212px 1788px #FFF, 988px 1366px #FFF, 832px 860px #FFF, 1849px 983px #FFF, 319px 1351px #FFF, 1621px 1280px #FFF, 552px 221px #FFF, 1937px 700px #FFF, 794px 1662px #FFF, 59px 818px #FFF, 1551px 1223px #FFF, 45px 544px #FFF, 1512px 1966px #FFF, 884px 982px #FFF, 1535px 1435px #FFF, 529px 798px #FFF, 1772px 1894px #FFF, 1623px 1410px #FFF, 738px 449px #FFF, 992px 312px #FFF, 375px 439px #FFF, 1007px 669px #FFF, 380px 1173px #FFF, 1829px 476px #FFF, 615px 657px #FFF, 1168px 1829px #FFF, 897px 234px #FFF, 1779px 679px #FFF, 1282px 766px #FFF, 509px 961px #FFF, 1922px 1778px #FFF, 1330px 724px #FFF, 1801px 1691px #FFF, 1264px 521px #FFF, 239px 586px #FFF, 253px 717px #FFF, 1812px 726px #FFF, 170px 743px #FFF, 1120px 1016px #FFF, 1284px 1576px #FFF, 1487px 1552px #FFF, 282px 1054px #FFF, 950px 1792px #FFF, 546px 510px #FFF, 532px 276px #FFF, 382px 1162px #FFF, 1364px 1163px #FFF, 1518px 1764px #FFF, 1520px 174px #FFF, 1502px 1005px #FFF, 1192px 1084px #FFF, 1701px 658px #FFF, 1072px 1168px #FFF, 281px 1255px #FFF, 1597px 1374px #FFF, 11px 695px #FFF, 664px 1695px #FFF, 1944px 1628px #FFF, 725px 1077px #FFF, 212px 676px #FFF, 628px 1835px #FFF, 229px 552px #FFF, 926px 1245px #FFF, 144px 733px #FFF, 1186px 1612px #FFF, 751px 882px #FFF, 1636px 317px #FFF, 1363px 848px #FFF, 721px 734px #FFF, 1912px 604px #FFF, 1966px 1188px #FFF, 1096px 1716px #FFF, 544px 740px #FFF, 430px 240px #FFF, 1861px 594px #FFF, 608px 451px #FFF, 1818px 1278px #FFF, 697px 965px #FFF, 1320px 231px #FFF, 362px 1349px #FFF, 1454px 1559px #FFF, 712px 76px #FFF, 1415px 1821px #FFF, 87px 725px #FFF, 79px 1098px #FFF, 1222px 706px #FFF, 302px 1249px #FFF, 1555px 885px #FFF, 1965px 850px #FFF, 480px 766px #FFF, 1773px 120px #FFF, 1587px 1318px #FFF, 376px 1282px #FFF, 1906px 813px #FFF, 1946px 1912px #FFF, 1089px 662px #FFF, 1661px 1619px #FFF, 1648px 253px #FFF, 438px 673px #FFF, 1760px 505px #FFF, 1315px 1229px #FFF, 428px 1843px #FFF, 601px 1970px #FFF, 380px 396px #FFF, 182px 1940px #FFF, 1588px 901px #FFF, 427px 321px #FFF, 465px 1915px #FFF, 1102px 1197px #FFF, 10px 1907px #FFF, 1508px 1460px #FFF, 1203px 6px #FFF, 654px 1896px #FFF, 473px 244px #FFF, 904px 1574px #FFF, 1595px 1898px #FFF, 1020px 939px #FFF, 714px 1647px #FFF, 1489px 933px #FFF, 1489px 448px #FFF, 1959px 1255px #FFF, 282px 635px #FFF, 561px 1219px #FFF, 1438px 562px #FFF, 13px 732px #FFF, 194px 157px #FFF, 588px 847px #FFF, 406px 1009px #FFF, 145px 1473px #FFF, 1186px 396px #FFF, 1507px 896px #FFF, 118px 1031px #FFF, 747px 1851px #FFF, 883px 1918px #FFF, 864px 37px #FFF, 1022px 1939px #FFF, 1896px 115px #FFF, 393px 181px #FFF, 686px 124px #FFF, 1766px 1923px #FFF, 960px 1307px #FFF, 1550px 297px #FFF, 800px 1839px #FFF, 287px 410px #FFF, 1299px 901px #FFF, 752px 152px #FFF, 1430px 512px #FFF, 1763px 445px #FFF, 283px 1294px #FFF, 1520px 964px #FFF, 276px 1137px #FFF, 679px 367px #FFF, 106px 1609px #FFF, 642px 1622px #FFF, 1068px 4px #FFF, 1280px 1906px #FFF, 1841px 930px #FFF, 1452px 1916px #FFF, 1579px 835px #FFF, 1202px 1435px #FFF, 752px 631px #FFF, 779px 946px #FFF, 1839px 26px #FFF, 200px 1798px #FFF, 481px 242px #FFF, 82px 1030px #FFF, 338px 199px #FFF, 630px 647px #FFF, 1512px 1815px #FFF, 612px 1836px #FFF, 1577px 653px #FFF, 622px 888px #FFF, 797px 618px #FFF, 1476px 388px #FFF, 1077px 857px #FFF, 986px 280px #FFF, 497px 777px #FFF, 55px 595px #FFF, 279px 1406px #FFF, 1506px 1892px #FFF, 542px 1243px #FFF, 1503px 67px #FFF, 1978px 1293px #FFF, 834px 96px #FFF, 1351px 700px #FFF, 1119px 842px #FFF, 1879px 1862px #FFF, 1638px 168px #FFF, 607px 1547px #FFF, 842px 552px #FFF, 1438px 1889px #FFF, 1738px 688px #FFF, 139px 345px #FFF, 1220px 330px #FFF, 1154px 866px #FFF, 63px 448px #FFF, 53px 1397px #FFF, 412px 987px #FFF, 1623px 1666px #FFF, 760px 1234px #FFF, 263px 1004px #FFF, 713px 901px #FFF, 69px 1824px #FFF, 934px 453px #FFF, 1374px 1489px #FFF, 1350px 433px #FFF, 874px 1314px #FFF, 1621px 360px #FFF, 844px 1067px #FFF, 1551px 1104px #FFF, 1638px 1947px #FFF, 1035px 765px #FFF, 430px 1641px #FFF, 1645px 756px #FFF, 21px 521px #FFF, 1386px 1744px #FFF, 896px 1924px #FFF, 916px 240px #FFF, 85px 687px #FFF, 1910px 797px #FFF, 150px 255px #FFF, 1863px 347px #FFF, 1573px 578px #FFF, 1059px 503px #FFF, 1927px 1456px #FFF, 1421px 133px #FFF, 1637px 810px #FFF, 1636px 480px #FFF, 127px 537px #FFF, 795px 1967px #FFF, 274px 1720px #FFF, 1974px 1990px #FFF, 1958px 1142px #FFF, 1723px 1417px #FFF, 1098px 589px #FFF, 10px 770px #FFF, 1444px 439px #FFF, 432px 696px #FFF, 1031px 1546px #FFF, 732px 298px #FFF, 441px 461px #FFF, 1015px 587px #FFF, 1786px 422px #FFF, 456px 1949px #FFF, 1098px 1352px #FFF, 801px 620px #FFF, 1964px 1065px #FFF, 1358px 1336px #FFF, 1885px 995px #FFF, 1424px 714px #FFF, 1052px 1807px #FFF, 32px 304px #FFF, 207px 1925px #FFF, 789px 145px #FFF, 1855px 508px #FFF, 258px 1916px #FFF, 22px 1886px #FFF, 1595px 1227px #FFF, 1596px 1009px #FFF, 1665px 1057px #FFF, 1424px 1746px #FFF, 1940px 836px #FFF, 298px 585px #FFF, 1044px 261px #FFF, 1934px 1463px #FFF, 52px 1610px #FFF, 1687px 1396px #FFF, 436px 777px #FFF, 565px 457px #FFF, 472px 1153px #FFF, 1412px 329px #FFF, 1810px 1808px #FFF, 1184px 1003px #FFF, 1879px 435px #FFF, 970px 386px #FFF, 924px 1810px #FFF, 711px 89px #FFF, 1651px 1739px #FFF, 1807px 825px #FFF, 446px 573px #FFF, 777px 1577px #FFF, 794px 296px #FFF, 726px 1297px #FFF, 839px 1893px #FFF, 494px 219px #FFF, 1587px 789px #FFF, 1870px 852px #FFF, 851px 176px #FFF, 395px 1126px #FFF, 480px 879px #FFF, 1678px 664px #FFF, 1989px 908px #FFF, 1395px 1853px #FFF, 831px 1317px #FFF, 1002px 825px #FFF, 1224px 829px #FFF, 116px 1170px #FFF, 638px 1707px #FFF, 1446px 1781px #FFF, 837px 573px #FFF, 234px 1610px #FFF, 433px 1513px #FFF, 545px 970px #FFF, 800px 512px #FFF, 593px 1918px #FFF, 590px 1585px #FFF, 956px 1009px #FFF, 1320px 725px #FFF, 38px 37px #FFF, 1305px 90px #FFF, 612px 1038px #FFF, 1108px 1078px #FFF, 1501px 412px #FFF, 46px 1130px #FFF, 466px 1878px #FFF, 1190px 1053px #FFF, 876px 365px #FFF, 1342px 696px #FFF, 610px 29px #FFF, 402px 1745px #FFF, 1175px 468px #FFF, 1058px 1323px #FFF, 1333px 1161px #FFF, 1732px 1236px #FFF, 1250px 1136px #FFF, 932px 57px #FFF, 1912px 373px #FFF, 442px 687px #FFF, 1910px 680px #FFF, 940px 1164px #FFF, 1325px 680px #FFF, 1710px 221px #FFF, 999px 1482px #FFF, 1915px 739px #FFF, 1805px 1559px #FFF, 323px 721px #FFF, 1937px 1633px #FFF, 1974px 1077px #FFF, 139px 931px #FFF, 473px 1644px #FFF, 1965px 50px #FFF, 480px 1509px #FFF, 434px 1520px #FFF, 648px 938px #FFF, 372px 548px #FFF, 1307px 709px #FFF, 1387px 1279px #FFF, 1374px 491px #FFF, 227px 936px #FFF, 959px 505px #FFF, 1760px 769px #FFF, 1298px 1197px #FFF, 232px 875px #FFF, 885px 656px #FFF, 105px 1719px #FFF, 266px 781px #FFF, 627px 248px #FFF, 162px 1551px #FFF, 1902px 1920px #FFF, 1079px 588px #FFF, 1180px 607px #FFF, 895px 1338px #FFF, 194px 482px #FFF, 1192px 122px #FFF, 317px 678px #FFF, 1425px 724px #FFF, 1899px 1525px #FFF, 370px 1750px #FFF, 259px 1626px #FFF, 1549px 1878px #FFF, 1162px 1612px #FFF, 1884px 1417px #FFF, 1266px 1079px #FFF, 1863px 1900px #FFF, 1208px 320px #FFF, 1200px 1035px #FFF, 1602px 1257px #FFF, 1478px 197px #FFF, 1397px 30px #FFF, 1189px 1902px #FFF, 813px 354px #FFF, 1692px 1416px #FFF, 588px 1152px #FFF, 36px 256px #FFF, 228px 1642px #FFF, 1706px 1483px #FFF, 1241px 553px #FFF, 1736px 1078px #FFF, 1996px 795px #FFF;
  animation: animStar 50s linear infinite;
}
.star-layers #stars::after {
  box-shadow: 223px 842px #FFF, 103px 589px #FFF, 1033px 1570px #FFF, 1339px 831px #FFF, 47px 915px #FFF, 856px 1947px #FFF, 562px 1575px #FFF, 1349px 1514px #FFF, 50px 731px #FFF, 143px 1608px #FFF, 355px 989px #FFF, 932px 633px #FFF, 1330px 1276px #FFF, 1854px 1123px #FFF, 1973px 1642px #FFF, 934px 959px #FFF, 587px 1385px #FFF, 1972px 1226px #FFF, 547px 1928px #FFF, 978px 1299px #FFF, 964px 856px #FFF, 289px 598px #FFF, 1454px 1162px #FFF, 406px 1438px #FFF, 1009px 1741px #FFF, 1169px 1321px #FFF, 239px 1236px #FFF, 694px 687px #FFF, 284px 427px #FFF, 499px 576px #FFF, 1291px 1660px #FFF, 1228px 82px #FFF, 1846px 202px #FFF, 1249px 1882px #FFF, 800px 855px #FFF, 673px 1272px #FFF, 1208px 380px #FFF, 1240px 1321px #FFF, 1905px 1669px #FFF, 1768px 414px #FFF, 1482px 1580px #FFF, 1330px 225px #FFF, 1469px 1012px #FFF, 1250px 1647px #FFF, 1590px 1986px #FFF, 232px 813px #FFF, 1360px 692px #FFF, 1699px 1920px #FFF, 1269px 1283px #FFF, 748px 1343px #FFF, 304px 1095px #FFF, 1520px 582px #FFF, 1523px 1944px #FFF, 901px 756px #FFF, 358px 1930px #FFF, 1917px 700px #FFF, 347px 629px #FFF, 968px 565px #FFF, 1315px 845px #FFF, 645px 799px #FFF, 201px 617px #FFF, 1822px 649px #FFF, 584px 408px #FFF, 1155px 9px #FFF, 1070px 1492px #FFF, 1975px 1164px #FFF, 1136px 1542px #FFF, 1555px 449px #FFF, 1642px 1829px #FFF, 1677px 1335px #FFF, 542px 387px #FFF, 1639px 1525px #FFF, 411px 1761px #FFF, 260px 690px #FFF, 535px 1815px #FFF, 73px 735px #FFF, 427px 173px #FFF, 106px 1078px #FFF, 1384px 860px #FFF, 66px 377px #FFF, 804px 1980px #FFF, 392px 1825px #FFF, 1667px 354px #FFF, 1052px 112px #FFF, 1827px 1693px #FFF, 1604px 1112px #FFF, 1224px 1840px #FFF, 812px 1274px #FFF, 1403px 832px #FFF, 135px 1357px #FFF, 1800px 1106px #FFF, 720px 256px #FFF, 233px 1749px #FFF, 228px 801px #FFF, 244px 1644px #FFF, 1975px 47px #FFF, 846px 306px #FFF, 1895px 1315px #FFF, 647px 68px #FFF, 674px 1021px #FFF, 1621px 942px #FFF, 1302px 274px #FFF, 1398px 183px #FFF, 1446px 449px #FFF, 763px 517px #FFF, 276px 1847px #FFF, 94px 273px #FFF, 1727px 1611px #FFF, 905px 1748px #FFF, 785px 24px #FFF, 1024px 1899px #FFF, 713px 575px #FFF, 34px 882px #FFF, 1844px 1336px #FFF, 580px 1917px #FFF, 277px 1783px #FFF, 1289px 27px #FFF, 1006px 521px #FFF, 1800px 940px #FFF, 541px 1430px #FFF, 585px 586px #FFF, 864px 1311px #FFF, 1886px 1900px #FFF, 1234px 1292px #FFF, 271px 1123px #FFF, 1288px 398px #FFF, 1962px 986px #FFF, 1640px 121px #FFF, 1433px 1958px #FFF, 459px 176px #FFF, 1112px 1230px #FFF, 1844px 910px #FFF, 952px 1503px #FFF, 566px 631px #FFF, 502px 1909px #FFF, 855px 752px #FFF, 1942px 780px #FFF, 173px 1061px #FFF, 267px 415px #FFF, 1107px 540px #FFF, 1133px 101px #FFF, 1307px 390px #FFF, 1103px 1827px #FFF, 617px 1650px #FFF, 113px 1009px #FFF, 905px 1880px #FFF, 522px 860px #FFF, 933px 159px #FFF, 400px 1161px #FFF, 1207px 1433px #FFF, 870px 389px #FFF, 1743px 356px #FFF, 640px 354px #FFF, 1115px 831px #FFF, 568px 227px #FFF, 1734px 1062px #FFF, 485px 592px #FFF, 229px 989px #FFF, 685px 327px #FFF, 1138px 976px #FFF, 43px 1186px #FFF, 1485px 296px #FFF, 1016px 340px #FFF, 1434px 1403px #FFF, 1918px 1778px #FFF, 1061px 420px #FFF, 309px 175px #FFF, 789px 896px #FFF, 969px 1790px #FFF, 1059px 267px #FFF, 1588px 1911px #FFF, 908px 1801px #FFF, 1001px 1889px #FFF, 1171px 664px #FFF, 1781px 515px #FFF, 352px 191px #FFF, 396px 1170px #FFF, 805px 1770px #FFF, 1429px 1499px #FFF, 280px 504px #FFF, 1641px 1558px #FFF, 314px 791px #FFF, 63px 1148px #FFF, 1491px 757px #FFF, 1726px 111px #FFF, 1175px 875px #FFF, 279px 966px #FFF, 677px 1660px #FFF, 1035px 1076px #FFF, 1229px 842px #FFF, 99px 501px #FFF, 1436px 1377px #FFF, 745px 1023px #FFF, 461px 301px #FFF, 1280px 730px #FFF, 41px 170px #FFF, 632px 949px #FFF, 39px 1462px #FFF, 1633px 1289px #FFF, 1371px 371px #FFF, 534px 534px #FFF, 1606px 84px #FFF, 1908px 1396px #FFF, 1105px 1148px #FFF, 1918px 1885px #FFF, 1482px 1455px #FFF, 1408px 688px #FFF, 514px 867px #FFF, 544px 1899px #FFF, 522px 375px #FFF, 1774px 601px #FFF, 791px 1252px #FFF, 361px 7px #FFF, 928px 703px #FFF, 1834px 406px #FFF, 1354px 508px #FFF, 142px 716px #FFF, 1670px 632px #FFF, 1053px 1072px #FFF, 1148px 21px #FFF, 768px 1225px #FFF, 1017px 1146px #FFF, 1858px 962px #FFF, 1891px 1144px #FFF, 1150px 1296px #FFF, 685px 212px #FFF, 940px 1836px #FFF, 1666px 1865px #FFF, 934px 1588px #FFF, 1311px 881px #FFF, 1887px 265px #FFF, 486px 743px #FFF, 4px 1512px #FFF, 260px 1509px #FFF, 465px 798px #FFF, 449px 1490px #FFF, 642px 1052px #FFF, 1683px 1153px #FFF, 210px 1584px #FFF, 857px 1341px #FFF, 878px 1829px #FFF, 483px 1089px #FFF, 386px 682px #FFF, 174px 1841px #FFF, 1062px 332px #FFF, 1496px 170px #FFF, 1878px 1285px #FFF, 1087px 1581px #FFF, 1108px 649px #FFF, 948px 1455px #FFF, 1159px 1783px #FFF, 937px 1778px #FFF, 50px 1705px #FFF, 509px 1952px #FFF, 599px 1471px #FFF, 262px 1140px #FFF, 772px 655px #FFF, 1424px 965px #FFF, 1528px 1020px #FFF, 139px 1442px #FFF, 978px 1524px #FFF, 111px 615px #FFF, 693px 635px #FFF, 370px 1923px #FFF, 1474px 21px #FFF, 909px 694px #FFF, 812px 229px #FFF, 1942px 660px #FFF, 464px 1328px #FFF, 1401px 267px #FFF, 1807px 1369px #FFF, 21px 754px #FFF, 451px 178px #FFF, 30px 464px #FFF, 157px 1860px #FFF, 1067px 872px #FFF, 488px 1041px #FFF, 1706px 801px #FFF, 1801px 625px #FFF, 323px 821px #FFF, 1438px 1694px #FFF, 1907px 922px #FFF, 254px 1777px #FFF, 1883px 672px #FFF, 985px 1777px #FFF, 496px 592px #FFF, 562px 994px #FFF, 213px 1866px #FFF, 1660px 585px #FFF, 493px 778px #FFF, 1878px 1215px #FFF, 1763px 969px #FFF, 1251px 103px #FFF, 470px 1050px #FFF, 1200px 1940px #FFF, 917px 1306px #FFF, 768px 1379px #FFF, 607px 1252px #FFF, 856px 717px #FFF, 691px 1478px #FFF, 914px 128px #FFF, 9px 346px #FFF, 865px 1795px #FFF, 235px 1595px #FFF, 1991px 1846px #FFF, 1772px 1067px #FFF, 1481px 186px #FFF, 1766px 1220px #FFF, 155px 491px #FFF, 651px 1481px #FFF, 1241px 1797px #FFF, 1212px 1788px #FFF, 988px 1366px #FFF, 832px 860px #FFF, 1849px 983px #FFF, 319px 1351px #FFF, 1621px 1280px #FFF, 552px 221px #FFF, 1937px 700px #FFF, 794px 1662px #FFF, 59px 818px #FFF, 1551px 1223px #FFF, 45px 544px #FFF, 1512px 1966px #FFF, 884px 982px #FFF, 1535px 1435px #FFF, 529px 798px #FFF, 1772px 1894px #FFF, 1623px 1410px #FFF, 738px 449px #FFF, 992px 312px #FFF, 375px 439px #FFF, 1007px 669px #FFF, 380px 1173px #FFF, 1829px 476px #FFF, 615px 657px #FFF, 1168px 1829px #FFF, 897px 234px #FFF, 1779px 679px #FFF, 1282px 766px #FFF, 509px 961px #FFF, 1922px 1778px #FFF, 1330px 724px #FFF, 1801px 1691px #FFF, 1264px 521px #FFF, 239px 586px #FFF, 253px 717px #FFF, 1812px 726px #FFF, 170px 743px #FFF, 1120px 1016px #FFF, 1284px 1576px #FFF, 1487px 1552px #FFF, 282px 1054px #FFF, 950px 1792px #FFF, 546px 510px #FFF, 532px 276px #FFF, 382px 1162px #FFF, 1364px 1163px #FFF, 1518px 1764px #FFF, 1520px 174px #FFF, 1502px 1005px #FFF, 1192px 1084px #FFF, 1701px 658px #FFF, 1072px 1168px #FFF, 281px 1255px #FFF, 1597px 1374px #FFF, 11px 695px #FFF, 664px 1695px #FFF, 1944px 1628px #FFF, 725px 1077px #FFF, 212px 676px #FFF, 628px 1835px #FFF, 229px 552px #FFF, 926px 1245px #FFF, 144px 733px #FFF, 1186px 1612px #FFF, 751px 882px #FFF, 1636px 317px #FFF, 1363px 848px #FFF, 721px 734px #FFF, 1912px 604px #FFF, 1966px 1188px #FFF, 1096px 1716px #FFF, 544px 740px #FFF, 430px 240px #FFF, 1861px 594px #FFF, 608px 451px #FFF, 1818px 1278px #FFF, 697px 965px #FFF, 1320px 231px #FFF, 362px 1349px #FFF, 1454px 1559px #FFF, 712px 76px #FFF, 1415px 1821px #FFF, 87px 725px #FFF, 79px 1098px #FFF, 1222px 706px #FFF, 302px 1249px #FFF, 1555px 885px #FFF, 1965px 850px #FFF, 480px 766px #FFF, 1773px 120px #FFF, 1587px 1318px #FFF, 376px 1282px #FFF, 1906px 813px #FFF, 1946px 1912px #FFF, 1089px 662px #FFF, 1661px 1619px #FFF, 1648px 253px #FFF, 438px 673px #FFF, 1760px 505px #FFF, 1315px 1229px #FFF, 428px 1843px #FFF, 601px 1970px #FFF, 380px 396px #FFF, 182px 1940px #FFF, 1588px 901px #FFF, 427px 321px #FFF, 465px 1915px #FFF, 1102px 1197px #FFF, 10px 1907px #FFF, 1508px 1460px #FFF, 1203px 6px #FFF, 654px 1896px #FFF, 473px 244px #FFF, 904px 1574px #FFF, 1595px 1898px #FFF, 1020px 939px #FFF, 714px 1647px #FFF, 1489px 933px #FFF, 1489px 448px #FFF, 1959px 1255px #FFF, 282px 635px #FFF, 561px 1219px #FFF, 1438px 562px #FFF, 13px 732px #FFF, 194px 157px #FFF, 588px 847px #FFF, 406px 1009px #FFF, 145px 1473px #FFF, 1186px 396px #FFF, 1507px 896px #FFF, 118px 1031px #FFF, 747px 1851px #FFF, 883px 1918px #FFF, 864px 37px #FFF, 1022px 1939px #FFF, 1896px 115px #FFF, 393px 181px #FFF, 686px 124px #FFF, 1766px 1923px #FFF, 960px 1307px #FFF, 1550px 297px #FFF, 800px 1839px #FFF, 287px 410px #FFF, 1299px 901px #FFF, 752px 152px #FFF, 1430px 512px #FFF, 1763px 445px #FFF, 283px 1294px #FFF, 1520px 964px #FFF, 276px 1137px #FFF, 679px 367px #FFF, 106px 1609px #FFF, 642px 1622px #FFF, 1068px 4px #FFF, 1280px 1906px #FFF, 1841px 930px #FFF, 1452px 1916px #FFF, 1579px 835px #FFF, 1202px 1435px #FFF, 752px 631px #FFF, 779px 946px #FFF, 1839px 26px #FFF, 200px 1798px #FFF, 481px 242px #FFF, 82px 1030px #FFF, 338px 199px #FFF, 630px 647px #FFF, 1512px 1815px #FFF, 612px 1836px #FFF, 1577px 653px #FFF, 622px 888px #FFF, 797px 618px #FFF, 1476px 388px #FFF, 1077px 857px #FFF, 986px 280px #FFF, 497px 777px #FFF, 55px 595px #FFF, 279px 1406px #FFF, 1506px 1892px #FFF, 542px 1243px #FFF, 1503px 67px #FFF, 1978px 1293px #FFF, 834px 96px #FFF, 1351px 700px #FFF, 1119px 842px #FFF, 1879px 1862px #FFF, 1638px 168px #FFF, 607px 1547px #FFF, 842px 552px #FFF, 1438px 1889px #FFF, 1738px 688px #FFF, 139px 345px #FFF, 1220px 330px #FFF, 1154px 866px #FFF, 63px 448px #FFF, 53px 1397px #FFF, 412px 987px #FFF, 1623px 1666px #FFF, 760px 1234px #FFF, 263px 1004px #FFF, 713px 901px #FFF, 69px 1824px #FFF, 934px 453px #FFF, 1374px 1489px #FFF, 1350px 433px #FFF, 874px 1314px #FFF, 1621px 360px #FFF, 844px 1067px #FFF, 1551px 1104px #FFF, 1638px 1947px #FFF, 1035px 765px #FFF, 430px 1641px #FFF, 1645px 756px #FFF, 21px 521px #FFF, 1386px 1744px #FFF, 896px 1924px #FFF, 916px 240px #FFF, 85px 687px #FFF, 1910px 797px #FFF, 150px 255px #FFF, 1863px 347px #FFF, 1573px 578px #FFF, 1059px 503px #FFF, 1927px 1456px #FFF, 1421px 133px #FFF, 1637px 810px #FFF, 1636px 480px #FFF, 127px 537px #FFF, 795px 1967px #FFF, 274px 1720px #FFF, 1974px 1990px #FFF, 1958px 1142px #FFF, 1723px 1417px #FFF, 1098px 589px #FFF, 10px 770px #FFF, 1444px 439px #FFF, 432px 696px #FFF, 1031px 1546px #FFF, 732px 298px #FFF, 441px 461px #FFF, 1015px 587px #FFF, 1786px 422px #FFF, 456px 1949px #FFF, 1098px 1352px #FFF, 801px 620px #FFF, 1964px 1065px #FFF, 1358px 1336px #FFF, 1885px 995px #FFF, 1424px 714px #FFF, 1052px 1807px #FFF, 32px 304px #FFF, 207px 1925px #FFF, 789px 145px #FFF, 1855px 508px #FFF, 258px 1916px #FFF, 22px 1886px #FFF, 1595px 1227px #FFF, 1596px 1009px #FFF, 1665px 1057px #FFF, 1424px 1746px #FFF, 1940px 836px #FFF, 298px 585px #FFF, 1044px 261px #FFF, 1934px 1463px #FFF, 52px 1610px #FFF, 1687px 1396px #FFF, 436px 777px #FFF, 565px 457px #FFF, 472px 1153px #FFF, 1412px 329px #FFF, 1810px 1808px #FFF, 1184px 1003px #FFF, 1879px 435px #FFF, 970px 386px #FFF, 924px 1810px #FFF, 711px 89px #FFF, 1651px 1739px #FFF, 1807px 825px #FFF, 446px 573px #FFF, 777px 1577px #FFF, 794px 296px #FFF, 726px 1297px #FFF, 839px 1893px #FFF, 494px 219px #FFF, 1587px 789px #FFF, 1870px 852px #FFF, 851px 176px #FFF, 395px 1126px #FFF, 480px 879px #FFF, 1678px 664px #FFF, 1989px 908px #FFF, 1395px 1853px #FFF, 831px 1317px #FFF, 1002px 825px #FFF, 1224px 829px #FFF, 116px 1170px #FFF, 638px 1707px #FFF, 1446px 1781px #FFF, 837px 573px #FFF, 234px 1610px #FFF, 433px 1513px #FFF, 545px 970px #FFF, 800px 512px #FFF, 593px 1918px #FFF, 590px 1585px #FFF, 956px 1009px #FFF, 1320px 725px #FFF, 38px 37px #FFF, 1305px 90px #FFF, 612px 1038px #FFF, 1108px 1078px #FFF, 1501px 412px #FFF, 46px 1130px #FFF, 466px 1878px #FFF, 1190px 1053px #FFF, 876px 365px #FFF, 1342px 696px #FFF, 610px 29px #FFF, 402px 1745px #FFF, 1175px 468px #FFF, 1058px 1323px #FFF, 1333px 1161px #FFF, 1732px 1236px #FFF, 1250px 1136px #FFF, 932px 57px #FFF, 1912px 373px #FFF, 442px 687px #FFF, 1910px 680px #FFF, 940px 1164px #FFF, 1325px 680px #FFF, 1710px 221px #FFF, 999px 1482px #FFF, 1915px 739px #FFF, 1805px 1559px #FFF, 323px 721px #FFF, 1937px 1633px #FFF, 1974px 1077px #FFF, 139px 931px #FFF, 473px 1644px #FFF, 1965px 50px #FFF, 480px 1509px #FFF, 434px 1520px #FFF, 648px 938px #FFF, 372px 548px #FFF, 1307px 709px #FFF, 1387px 1279px #FFF, 1374px 491px #FFF, 227px 936px #FFF, 959px 505px #FFF, 1760px 769px #FFF, 1298px 1197px #FFF, 232px 875px #FFF, 885px 656px #FFF, 105px 1719px #FFF, 266px 781px #FFF, 627px 248px #FFF, 162px 1551px #FFF, 1902px 1920px #FFF, 1079px 588px #FFF, 1180px 607px #FFF, 895px 1338px #FFF, 194px 482px #FFF, 1192px 122px #FFF, 317px 678px #FFF, 1425px 724px #FFF, 1899px 1525px #FFF, 370px 1750px #FFF, 259px 1626px #FFF, 1549px 1878px #FFF, 1162px 1612px #FFF, 1884px 1417px #FFF, 1266px 1079px #FFF, 1863px 1900px #FFF, 1208px 320px #FFF, 1200px 1035px #FFF, 1602px 1257px #FFF, 1478px 197px #FFF, 1397px 30px #FFF, 1189px 1902px #FFF, 813px 354px #FFF, 1692px 1416px #FFF, 588px 1152px #FFF, 36px 256px #FFF, 228px 1642px #FFF, 1706px 1483px #FFF, 1241px 553px #FFF, 1736px 1078px #FFF, 1996px 795px #FFF;
}
.star-layers #stars2 {
  width: 2px;
  height: 2px;
  box-shadow: 160px 809px #FFF, 1081px 945px #FFF, 744px 450px #FFF, 604px 191px #FFF, 885px 1529px #FFF, 1348px 587px #FFF, 625px 897px #FFF, 365px 1142px #FFF, 1047px 1594px #FFF, 1815px 1150px #FFF, 1871px 518px #FFF, 1695px 586px #FFF, 1955px 166px #FFF, 932px 1380px #FFF, 983px 1451px #FFF, 458px 194px #FFF, 803px 224px #FFF, 589px 666px #FFF, 75px 90px #FFF, 1619px 1199px #FFF, 1444px 617px #FFF, 278px 172px #FFF, 1259px 1345px #FFF, 1114px 101px #FFF, 899px 1066px #FFF, 1229px 1089px #FFF, 154px 1301px #FFF, 616px 1537px #FFF, 1162px 961px #FFF, 1158px 1982px #FFF, 737px 185px #FFF, 351px 1387px #FFF, 111px 1326px #FFF, 237px 784px #FFF, 1778px 654px #FFF, 467px 79px #FFF, 878px 530px #FFF, 894px 577px #FFF, 1065px 607px #FFF, 1576px 82px #FFF, 1899px 849px #FFF, 1527px 1585px #FFF, 1149px 1657px #FFF, 461px 237px #FFF, 1333px 1355px #FFF, 1217px 783px #FFF, 274px 1900px #FFF, 895px 1343px #FFF, 1400px 761px #FFF, 1903px 923px #FFF, 653px 967px #FFF, 105px 218px #FFF, 809px 1961px #FFF, 1702px 1966px #FFF, 1277px 1446px #FFF, 1661px 1192px #FFF, 1396px 1305px #FFF, 1670px 1839px #FFF, 455px 149px #FFF, 73px 39px #FFF, 37px 1217px #FFF, 678px 830px #FFF, 159px 43px #FFF, 1674px 1945px #FFF, 270px 315px #FFF, 1443px 518px #FFF, 1971px 1729px #FFF, 229px 41px #FFF, 289px 101px #FFF, 960px 1338px #FFF, 459px 949px #FFF, 415px 928px #FFF, 1710px 132px #FFF, 1514px 224px #FFF, 1318px 1972px #FFF, 460px 1697px #FFF, 580px 1838px #FFF, 203px 1546px #FFF, 57px 636px #FFF, 1886px 68px #FFF, 1759px 178px #FFF, 1293px 1077px #FFF, 1154px 185px #FFF, 1479px 1518px #FFF, 1496px 1434px #FFF, 420px 1639px #FFF, 518px 795px #FFF, 1917px 1864px #FFF, 1181px 1417px #FFF, 1602px 563px #FFF, 851px 1758px #FFF, 798px 978px #FFF, 1892px 1109px #FFF, 197px 829px #FFF, 1412px 962px #FFF, 1995px 965px #FFF, 1387px 937px #FFF, 101px 1556px #FFF, 1920px 534px #FFF, 271px 826px #FFF, 329px 1489px #FFF, 1268px 1344px #FFF, 439px 1829px #FFF, 1038px 1946px #FFF, 1698px 829px #FFF, 1265px 1622px #FFF, 741px 768px #FFF, 1050px 1538px #FFF, 1811px 1856px #FFF, 1765px 958px #FFF, 1659px 1260px #FFF, 405px 483px #FFF, 515px 983px #FFF, 497px 799px #FFF, 1856px 476px #FFF, 632px 84px #FFF, 1982px 374px #FFF, 1196px 1308px #FFF, 191px 110px #FFF, 1799px 769px #FFF, 1988px 674px #FFF, 35px 1381px #FFF, 276px 1358px #FFF, 559px 718px #FFF, 114px 532px #FFF, 1136px 351px #FFF, 256px 1208px #FFF, 1398px 822px #FFF, 1562px 1983px #FFF, 1505px 1254px #FFF, 158px 906px #FFF, 356px 779px #FFF, 511px 502px #FFF, 10px 644px #FFF, 1962px 1487px #FFF, 128px 692px #FFF, 127px 886px #FFF, 537px 1904px #FFF, 1814px 632px #FFF, 485px 1913px #FFF, 765px 1250px #FFF, 93px 1734px #FFF, 1970px 1742px #FFF, 284px 1280px #FFF, 1037px 455px #FFF, 457px 1281px #FFF, 1928px 1204px #FFF, 1587px 1387px #FFF, 1188px 504px #FFF, 854px 982px #FFF, 1098px 1521px #FFF, 1967px 690px #FFF, 461px 1816px #FFF, 1865px 258px #FFF, 344px 418px #FFF, 215px 810px #FFF, 1689px 861px #FFF, 1034px 1851px #FFF, 547px 1209px #FFF, 779px 1180px #FFF, 266px 1865px #FFF, 1004px 1121px #FFF, 119px 1236px #FFF, 604px 1241px #FFF, 1418px 971px #FFF, 176px 1453px #FFF, 1885px 1740px #FFF, 565px 1732px #FFF, 1726px 50px #FFF, 1973px 1540px #FFF, 41px 367px #FFF, 1014px 1695px #FFF, 1051px 438px #FFF, 1613px 1454px #FFF, 671px 631px #FFF, 475px 1559px #FFF, 46px 1924px #FFF, 638px 821px #FFF, 726px 1201px #FFF, 1960px 1999px #FFF, 1424px 1839px #FFF, 1858px 1711px #FFF, 1995px 145px #FFF, 1484px 160px #FFF, 1836px 927px #FFF, 1811px 465px #FFF, 1732px 666px #FFF, 1596px 1766px #FFF, 1999px 665px #FFF, 1293px 1653px #FFF, 847px 1647px #FFF, 188px 1517px #FFF, 804px 1707px #FFF, 1564px 573px #FFF, 1124px 1971px #FFF, 863px 1902px #FFF, 246px 1073px #FFF, 1932px 1268px #FFF, 138px 1962px #FFF, 265px 1128px #FFF;
  animation: animStar 100s linear infinite;
}
.star-layers #stars2::after {
  width: 2px;
  height: 2px;
  box-shadow: 160px 809px #FFF, 1081px 945px #FFF, 744px 450px #FFF, 604px 191px #FFF, 885px 1529px #FFF, 1348px 587px #FFF, 625px 897px #FFF, 365px 1142px #FFF, 1047px 1594px #FFF, 1815px 1150px #FFF, 1871px 518px #FFF, 1695px 586px #FFF, 1955px 166px #FFF, 932px 1380px #FFF, 983px 1451px #FFF, 458px 194px #FFF, 803px 224px #FFF, 589px 666px #FFF, 75px 90px #FFF, 1619px 1199px #FFF, 1444px 617px #FFF, 278px 172px #FFF, 1259px 1345px #FFF, 1114px 101px #FFF, 899px 1066px #FFF, 1229px 1089px #FFF, 154px 1301px #FFF, 616px 1537px #FFF, 1162px 961px #FFF, 1158px 1982px #FFF, 737px 185px #FFF, 351px 1387px #FFF, 111px 1326px #FFF, 237px 784px #FFF, 1778px 654px #FFF, 467px 79px #FFF, 878px 530px #FFF, 894px 577px #FFF, 1065px 607px #FFF, 1576px 82px #FFF, 1899px 849px #FFF, 1527px 1585px #FFF, 1149px 1657px #FFF, 461px 237px #FFF, 1333px 1355px #FFF, 1217px 783px #FFF, 274px 1900px #FFF, 895px 1343px #FFF, 1400px 761px #FFF, 1903px 923px #FFF, 653px 967px #FFF, 105px 218px #FFF, 809px 1961px #FFF, 1702px 1966px #FFF, 1277px 1446px #FFF, 1661px 1192px #FFF, 1396px 1305px #FFF, 1670px 1839px #FFF, 455px 149px #FFF, 73px 39px #FFF, 37px 1217px #FFF, 678px 830px #FFF, 159px 43px #FFF, 1674px 1945px #FFF, 270px 315px #FFF, 1443px 518px #FFF, 1971px 1729px #FFF, 229px 41px #FFF, 289px 101px #FFF, 960px 1338px #FFF, 459px 949px #FFF, 415px 928px #FFF, 1710px 132px #FFF, 1514px 224px #FFF, 1318px 1972px #FFF, 460px 1697px #FFF, 580px 1838px #FFF, 203px 1546px #FFF, 57px 636px #FFF, 1886px 68px #FFF, 1759px 178px #FFF, 1293px 1077px #FFF, 1154px 185px #FFF, 1479px 1518px #FFF, 1496px 1434px #FFF, 420px 1639px #FFF, 518px 795px #FFF, 1917px 1864px #FFF, 1181px 1417px #FFF, 1602px 563px #FFF, 851px 1758px #FFF, 798px 978px #FFF, 1892px 1109px #FFF, 197px 829px #FFF, 1412px 962px #FFF, 1995px 965px #FFF, 1387px 937px #FFF, 101px 1556px #FFF, 1920px 534px #FFF, 271px 826px #FFF, 329px 1489px #FFF, 1268px 1344px #FFF, 439px 1829px #FFF, 1038px 1946px #FFF, 1698px 829px #FFF, 1265px 1622px #FFF, 741px 768px #FFF, 1050px 1538px #FFF, 1811px 1856px #FFF, 1765px 958px #FFF, 1659px 1260px #FFF, 405px 483px #FFF, 515px 983px #FFF, 497px 799px #FFF, 1856px 476px #FFF, 632px 84px #FFF, 1982px 374px #FFF, 1196px 1308px #FFF, 191px 110px #FFF, 1799px 769px #FFF, 1988px 674px #FFF, 35px 1381px #FFF, 276px 1358px #FFF, 559px 718px #FFF, 114px 532px #FFF, 1136px 351px #FFF, 256px 1208px #FFF, 1398px 822px #FFF, 1562px 1983px #FFF, 1505px 1254px #FFF, 158px 906px #FFF, 356px 779px #FFF, 511px 502px #FFF, 10px 644px #FFF, 1962px 1487px #FFF, 128px 692px #FFF, 127px 886px #FFF, 537px 1904px #FFF, 1814px 632px #FFF, 485px 1913px #FFF, 765px 1250px #FFF, 93px 1734px #FFF, 1970px 1742px #FFF, 284px 1280px #FFF, 1037px 455px #FFF, 457px 1281px #FFF, 1928px 1204px #FFF, 1587px 1387px #FFF, 1188px 504px #FFF, 854px 982px #FFF, 1098px 1521px #FFF, 1967px 690px #FFF, 461px 1816px #FFF, 1865px 258px #FFF, 344px 418px #FFF, 215px 810px #FFF, 1689px 861px #FFF, 1034px 1851px #FFF, 547px 1209px #FFF, 779px 1180px #FFF, 266px 1865px #FFF, 1004px 1121px #FFF, 119px 1236px #FFF, 604px 1241px #FFF, 1418px 971px #FFF, 176px 1453px #FFF, 1885px 1740px #FFF, 565px 1732px #FFF, 1726px 50px #FFF, 1973px 1540px #FFF, 41px 367px #FFF, 1014px 1695px #FFF, 1051px 438px #FFF, 1613px 1454px #FFF, 671px 631px #FFF, 475px 1559px #FFF, 46px 1924px #FFF, 638px 821px #FFF, 726px 1201px #FFF, 1960px 1999px #FFF, 1424px 1839px #FFF, 1858px 1711px #FFF, 1995px 145px #FFF, 1484px 160px #FFF, 1836px 927px #FFF, 1811px 465px #FFF, 1732px 666px #FFF, 1596px 1766px #FFF, 1999px 665px #FFF, 1293px 1653px #FFF, 847px 1647px #FFF, 188px 1517px #FFF, 804px 1707px #FFF, 1564px 573px #FFF, 1124px 1971px #FFF, 863px 1902px #FFF, 246px 1073px #FFF, 1932px 1268px #FFF, 138px 1962px #FFF, 265px 1128px #FFF;
}
.star-layers #stars3 {
  width: 3px;
  height: 3px;
  box-shadow: 1889px 692px #FFF, 1039px 1292px #FFF, 61px 942px #FFF, 1105px 1070px #FFF, 723px 1215px #FFF, 627px 190px #FFF, 1192px 951px #FFF, 520px 488px #FFF, 1597px 770px #FFF, 200px 419px #FFF, 483px 1936px #FFF, 430px 353px #FFF, 941px 1792px #FFF, 728px 131px #FFF, 999px 73px #FFF, 1868px 1058px #FFF, 1036px 469px #FFF, 566px 1758px #FFF, 1462px 368px #FFF, 752px 774px #FFF, 1499px 16px #FFF, 105px 1783px #FFF, 1714px 458px #FFF, 843px 1883px #FFF, 838px 404px #FFF, 35px 1921px #FFF, 472px 1197px #FFF, 933px 1393px #FFF, 985px 1872px #FFF, 607px 1681px #FFF, 839px 178px #FFF, 1214px 1203px #FFF, 441px 457px #FFF, 1434px 1451px #FFF, 184px 259px #FFF, 138px 254px #FFF, 1939px 1775px #FFF, 1721px 1488px #FFF, 1102px 1294px #FFF, 511px 1682px #FFF, 1873px 678px #FFF, 571px 1514px #FFF, 1837px 95px #FFF, 229px 329px #FFF, 425px 215px #FFF, 417px 772px #FFF, 1320px 962px #FFF, 1145px 385px #FFF, 899px 366px #FFF, 620px 1969px #FFF, 654px 936px #FFF, 889px 946px #FFF, 1305px 188px #FFF, 1725px 1216px #FFF, 884px 1826px #FFF, 1608px 1209px #FFF, 1177px 837px #FFF, 61px 174px #FFF, 300px 1822px #FFF, 1164px 1564px #FFF, 263px 1522px #FFF, 113px 1841px #FFF, 897px 49px #FFF, 1193px 1346px #FFF, 613px 1788px #FFF, 1815px 193px #FFF, 786px 200px #FFF, 1799px 256px #FFF, 125px 510px #FFF, 705px 806px #FFF, 760px 500px #FFF, 1058px 1806px #FFF, 1052px 143px #FFF, 889px 1366px #FFF, 380px 1595px #FFF, 1134px 916px #FFF, 1063px 493px #FFF, 116px 897px #FFF, 1910px 1655px #FFF, 1756px 1088px #FFF, 378px 879px #FFF, 370px 1872px #FFF, 124px 499px #FFF, 1956px 1300px #FFF, 190px 1175px #FFF, 568px 1993px #FFF, 255px 1779px #FFF, 1989px 684px #FFF, 1316px 335px #FFF, 1603px 420px #FFF, 1675px 1342px #FFF, 1845px 1741px #FFF, 292px 974px #FFF, 1743px 1185px #FFF, 31px 615px #FFF, 930px 1122px #FFF, 578px 1768px #FFF, 658px 292px #FFF, 1215px 257px #FFF, 1828px 443px #FFF;
  animation: animStar 150s linear infinite;
}
.star-layers #stars3::after {
  width: 3px;
  height: 3px;
  box-shadow: 1889px 692px #FFF, 1039px 1292px #FFF, 61px 942px #FFF, 1105px 1070px #FFF, 723px 1215px #FFF, 627px 190px #FFF, 1192px 951px #FFF, 520px 488px #FFF, 1597px 770px #FFF, 200px 419px #FFF, 483px 1936px #FFF, 430px 353px #FFF, 941px 1792px #FFF, 728px 131px #FFF, 999px 73px #FFF, 1868px 1058px #FFF, 1036px 469px #FFF, 566px 1758px #FFF, 1462px 368px #FFF, 752px 774px #FFF, 1499px 16px #FFF, 105px 1783px #FFF, 1714px 458px #FFF, 843px 1883px #FFF, 838px 404px #FFF, 35px 1921px #FFF, 472px 1197px #FFF, 933px 1393px #FFF, 985px 1872px #FFF, 607px 1681px #FFF, 839px 178px #FFF, 1214px 1203px #FFF, 441px 457px #FFF, 1434px 1451px #FFF, 184px 259px #FFF, 138px 254px #FFF, 1939px 1775px #FFF, 1721px 1488px #FFF, 1102px 1294px #FFF, 511px 1682px #FFF, 1873px 678px #FFF, 571px 1514px #FFF, 1837px 95px #FFF, 229px 329px #FFF, 425px 215px #FFF, 417px 772px #FFF, 1320px 962px #FFF, 1145px 385px #FFF, 899px 366px #FFF, 620px 1969px #FFF, 654px 936px #FFF, 889px 946px #FFF, 1305px 188px #FFF, 1725px 1216px #FFF, 884px 1826px #FFF, 1608px 1209px #FFF, 1177px 837px #FFF, 61px 174px #FFF, 300px 1822px #FFF, 1164px 1564px #FFF, 263px 1522px #FFF, 113px 1841px #FFF, 897px 49px #FFF, 1193px 1346px #FFF, 613px 1788px #FFF, 1815px 193px #FFF, 786px 200px #FFF, 1799px 256px #FFF, 125px 510px #FFF, 705px 806px #FFF, 760px 500px #FFF, 1058px 1806px #FFF, 1052px 143px #FFF, 889px 1366px #FFF, 380px 1595px #FFF, 1134px 916px #FFF, 1063px 493px #FFF, 116px 897px #FFF, 1910px 1655px #FFF, 1756px 1088px #FFF, 378px 879px #FFF, 370px 1872px #FFF, 124px 499px #FFF, 1956px 1300px #FFF, 190px 1175px #FFF, 568px 1993px #FFF, 255px 1779px #FFF, 1989px 684px #FFF, 1316px 335px #FFF, 1603px 420px #FFF, 1675px 1342px #FFF, 1845px 1741px #FFF, 292px 974px #FFF, 1743px 1185px #FFF, 31px 615px #FFF, 930px 1122px #FFF, 578px 1768px #FFF, 658px 292px #FFF, 1215px 257px #FFF, 1828px 443px #FFF;
}

/* Galeries */
.Workspace {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.WorkContent {
  background: #c56158;
  z-index: 100;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  height: 750px;
  width: 80%;
  border-radius: 15px;
}

.title {
  text-align: center;
  font-size: 50px;
  padding-bottom: 0px;
  font-family: title;
  padding-left: 50px;
  color: #f9f871;
}

.Galerie {
  display: flex;
  padding-top: 50px;
  align-items: center;
}

.Galerie .GalerieContainer {
  margin: auto;
  display: grid;
  padding-top: 50px;
  width: 90%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  grid-auto-rows: minmax(250px, 500px);
  align-items: center;
  transition: all 1s;
}

.Galerie .Test {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(10px, 500px);
  align-items: center;
  transition: all 1s;
}

.Galerie .GalerieContainer .Project {
  display: flex;
  position: relative;
  width: 250px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #957777;
  align-items: center;
  outline-width: 3px;
  outline-style: solid;
  outline-color: rgba(249, 249, 113, 0);
  transition: all 1s;
  justify-content: center;
}

.Galerie .GalerieContainer .Project:hover {
  transition: all 1s;
  width: 1000px;
  outline-color: #f9f871;
}

.Galerie .Project a {
  width: 100%;
  height: 100%;
}

.Galerie .Project a img {
  width: 100%;
  height: 100%;
  filter: blur(2px) grayscale(100%);
  transition: all 1s;
  -o-object-fit: cover;
     object-fit: cover;
}

.Galerie .Project a:hover img {
  width: 100%;
  height: 100%;
  transition: all 1s;
  filter: none;
  -o-object-fit: cover;
     object-fit: cover;
  outline-color: #f9f871;
}

.Galerie .Project .name {
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-family: text;
  font-weight: 600;
  transition: all 1s;
}

.Galerie .Project:hover .name {
  margin-top: 300px;
  transition: all 1s;
}

.Galerie .Project .tag {
  justify-content: center;
  margin: auto;
  background-color: #93567b;
  position: absolute;
  color: #f9f871;
  width: 93%;
  margin-top: 400px;
  text-align: center;
  font-size: 16px;
  font-family: text;
}

.aboutme {
  display: flex;
  align-items: center;
  height: 800px;
  padding-top: 100px;
  margin: auto;
  /* background: linear-gradient(90deg, rgba(95,38,74,1) 0%, rgba(150,64,119,1) 35%, rgba(135,9,89,1) 100%); */
}

.aboutme .aboutmeBackground {
  display: flex;
  background: #93567b;
  z-index: 100;
  margin: auto;
  align-items: center;
  width: 60%;
  height: 80%;
  vertical-align: middle;
  border-radius: 40px;
}

.aboutme .aboutmeContainer {
  margin: auto;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.aboutmeContainer .Content {
  height: 50%;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  border: 5px white;
  border-style: dotted;
  border-radius: 3px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  font-size: 20px;
}

.aboutmeContainer .title {
  font-size: 60px;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  padding-left: 0px;
  color: #f9f871;
}

.aboutmeContainer .textPresentation {
  padding-top: 20px;
  text-align: justify;
  font-family: text;
  color: white;
}

.aboutme a {
  all: unset;
}

.aboutme .AboutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-family: text;
  color: white;
  padding-left: 30px;
  width: 20%;
  border-radius: 15px;
  background-color: #692b3d;
  transition: all 1s;
  text-decoration: none;
}

.aboutme .AboutButton:hover {
  background-color: #502226;
  transition: all 1s;
}

.tools {
  display: flex;
  margin: auto;
  align-items: center;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  width: 50%;
  height: 300px;
}

.tools .contentBox {
  border-radius: 25px;
  background-color: #27101f;
  margin: auto;
  width: 80%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
}

.tools .title {
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.tools .toolsIcon {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  grid-auto-columns: minmax(10px, 300px);
  align-items: center;
}

.tools .langue {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  font-family: text;
  text-align: center;
  min-width: 50px;
  max-width: -moz-max-content;
  max-width: max-content;
  font-size: 25px;
}

.tools .script .scriptName {
  color: white;
  margin-left: 10px;
  font-family: text;
}

.Footer {
  display: flex;
  height: 250px;
  width: 100%;
}

.Footer .FooterBlock {
  align-items: center;
  height: 250px;
  z-index: 100;
  background-color: #5f477d;
  width: 40%;
  margin: auto;
  border-radius: 20px;
}

.Footer .Title {
  padding-top: 50px;
  font-family: title;
  text-align: center;
  font-size: 40px;
  color: #f9f871;
}

.Footer a {
  all: unset;
}

.Footer .Text {
  /* padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px; */
  font-family: text;
  font-size: 20px;
  font-weight: 600;
  font-stretch: ultra-expanded;
  color: white;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px;
}

.Footer .Text:hover {
  color: #f9f871;
}

.Footer .FooterContainer {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100px;
}

.Footer .reseau {
  display: flex;
  align-items: center;
  vertical-align: middle;
  font-family: text;
  margin-left: auto;
  margin-right: auto;
}

.Footer .reseau img {
  width: 50px;
  height: 50px;
}

@media (max-width: 1000px) {
  .Footer .FooterBlock {
    width: 80%;
  }
  .Footer .Title {
    font-size: 60px;
  }
  .Footer .Text {
    font-size: 30px;
  }
  .navbar .ButtonContainer {
    width: 600px;
    height: 70px;
  }
  .navbar .ButtonContainer .Button {
    font-size: 27px;
  }
  .WorkContent {
    width: 90%;
  }
  .star-layers {
    height: 130vh;
  }
  .aboutme {
    height: 900px;
  }
  .aboutme .aboutmeBackground {
    width: 90%;
    height: 80%;
  }
  .aboutme .textPresentation {
    font-size: 25px;
  }
  .aboutme .AboutButton {
    margin-top: 30px;
    width: 30%;
    font-size: 30px;
  }
  .presentation {
    width: 100%;
    height: 600px;
    display: flex;
  }
  .WorkContent {
    padding-top: 100px;
    height: 700px;
    background: #27101f;
  }
  .Galerie .GalerieContainer {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
  }
  .Galerie .GalerieContainer .Project {
    display: flex;
    position: relative;
    width: 200px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #957777;
    align-items: center;
  }
  .Galerie .Project .tag {
    margin-left: 10px;
    margin-right: 20px;
    background-color: #5F264A;
    position: absolute;
    color: #c7b1b1;
    width: 93%;
    margin-top: 300px;
    text-align: center;
    font-size: 15px;
    font-family: text;
  }
  .Galerie .Project:hover {
    transition: all 1s;
    width: 250px;
    outline-color: #f9f871;
  }
  .Galerie .Project a:hover img {
    width: 100%;
    height: 100%;
    transition: all 1s;
    filter: none;
  }
  .Galerie .Project:hover .name {
    margin-top: 0px;
    transition: all 0s;
  }
}/*# sourceMappingURL=styles.css.map */