
@font-face {
  font-family: text;
  src: url(Polices/Quicksand_Book.otf);
}
@font-face {
  font-family: text;
  src: url(Polices/Quicksand_Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: title;
  src: url(Polices/Cooper\ Black\ Regular.ttf);
}
.html {
  overflow: hidden;
  height: 100%;
  position: fixed;
}

body {
  overflow: auto;
  height: 100%;
  position: relative;
  overscroll-behavior: none;
  background: linear-gradient(90deg, rgb(95, 38, 74) 0%, rgb(149, 62, 86) 100%);
  margin: 0;
}

body .scrollContainer {
  overscroll-behavior: contain;
  overflow-y: scroll;
  scroll-behavior: auto;
}

.navbar {
  margin: 25px;
  width: 90%;
  margin-left: auto;
  padding-right: 0px;
  display: flex;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  justify-content: center;
  z-index: 200;
}

.navbar .ButtonContainer {
  display: flex;
  width: 500px;
  height: 50px;
  border-radius: 15px;
  border: solid;
  border-color: #f09745;
  border-width: 2px;
  background-color: rgb(149, 62, 86);
}

.navbar .ButtonContainer .Button {
  margin: auto;
  font-family: text;
  color: white;
  font-size: 18px;
  font-weight: 100;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 1s;
  text-align: center;
  width: 100px;
  border-radius: 10px;
  border: 2px solid;
  border-color: white;
}

.navbar .ButtonContainer .Button:hover {
  width: 150px;
  text-align: center;
  background-color: #f09745;
  border: 2px solid;
  transition: all 1s;
  border: none;
}

/* Presentation */
.presentation {
  width: 100%;
  height: 600px;
  padding-top: 50px;
  display: flex;
}

.presentation .content {
  width: 1200px;
  align-items: center;
  justify-content: center;
  text-align: justify;
  font-size: 30px;
  font-family: text;
  margin: auto;
  height: 80%;
  color: transparent;
  border-style: dashed;
  border: 2px solid;
  border-radius: 20px;
  transition: all 1s;
  display: flex;
}

.presentation .test {
  margin: auto;
  height: 50%;
  color: #ffe5fd;
  transition: all 2s;
  border: 2px solid;
  border-style: dashed;
  vertical-align: middle;
  text-align: center;
}

.presentation .contentPresentation {
  display: block;
}

.presentation .content .name {
  font-size: 60px;
  font-family: title;
  text-align: center;
  color: transparent;
  margin: auto;
}

.presentation .test .name {
  font-size: 50px;
  font-family: title;
  text-align: center;
  color: #edf045;
}

/*Hint part */
.hint {
  align-items: center;
  text-align: center;
  font-size: 0px;
  font-family: text;
  color: transparent;
  display: block;
  height: 300px;
  transition: all 1s;
}

.hintVisible {
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-family: text;
  display: block;
  color: #ffe5fd;
  height: 100px;
  -webkit-text-decoration: underline 3px solid #ffe5fd;
          text-decoration: underline 3px solid #ffe5fd;
  text-underline-position: under;
  transition: all 1s;
}

.hint .textHint {
  height: 60px;
}

.hint img {
  width: 60px;
  height: 60px;
  animation-name: glissement;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes glissement {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 15px;
  }
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
.star-layers {
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
}
.star-layers .star-layer {
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
}
.star-layers .star-layer::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
}
.star-layers #stars {
  box-shadow: 1887px 1821px #FFF, 1485px 1061px #FFF, 1518px 429px #FFF, 205px 1744px #FFF, 4px 1489px #FFF, 1432px 868px #FFF, 142px 1936px #FFF, 613px 567px #FFF, 1690px 204px #FFF, 677px 1633px #FFF, 1504px 640px #FFF, 623px 914px #FFF, 94px 1139px #FFF, 155px 1218px #FFF, 1705px 1839px #FFF, 1141px 1966px #FFF, 143px 852px #FFF, 382px 646px #FFF, 340px 629px #FFF, 1523px 666px #FFF, 870px 485px #FFF, 1581px 192px #FFF, 1382px 1136px #FFF, 407px 74px #FFF, 451px 761px #FFF, 312px 782px #FFF, 1436px 906px #FFF, 1554px 1733px #FFF, 965px 868px #FFF, 262px 1107px #FFF, 413px 1641px #FFF, 1859px 1589px #FFF, 377px 1441px #FFF, 1694px 163px #FFF, 671px 83px #FFF, 379px 1349px #FFF, 1307px 1321px #FFF, 1731px 1039px #FFF, 1055px 1646px #FFF, 1753px 1137px #FFF, 1706px 941px #FFF, 410px 1275px #FFF, 818px 1020px #FFF, 1778px 173px #FFF, 185px 1952px #FFF, 1786px 150px #FFF, 490px 19px #FFF, 1733px 1427px #FFF, 1789px 156px #FFF, 1267px 1827px #FFF, 1434px 730px #FFF, 1258px 104px #FFF, 1195px 1161px #FFF, 1321px 1341px #FFF, 948px 1547px #FFF, 1475px 450px #FFF, 1649px 2px #FFF, 246px 1852px #FFF, 1623px 885px #FFF, 1342px 1092px #FFF, 1048px 1349px #FFF, 1862px 248px #FFF, 1313px 397px #FFF, 1789px 702px #FFF, 439px 1507px #FFF, 609px 829px #FFF, 296px 1574px #FFF, 1894px 1867px #FFF, 1372px 400px #FFF, 1260px 184px #FFF, 878px 457px #FFF, 551px 119px #FFF, 1107px 1382px #FFF, 700px 384px #FFF, 186px 1370px #FFF, 1335px 724px #FFF, 846px 45px #FFF, 1090px 586px #FFF, 849px 626px #FFF, 698px 1771px #FFF, 881px 1615px #FFF, 649px 1549px #FFF, 422px 659px #FFF, 120px 1197px #FFF, 291px 967px #FFF, 1810px 1680px #FFF, 1293px 1190px #FFF, 966px 1002px #FFF, 1830px 1750px #FFF, 908px 513px #FFF, 923px 1474px #FFF, 950px 1512px #FFF, 1478px 602px #FFF, 818px 1519px #FFF, 1359px 239px #FFF, 721px 1638px #FFF, 65px 585px #FFF, 502px 241px #FFF, 209px 1847px #FFF, 1390px 393px #FFF, 447px 1824px #FFF, 1575px 100px #FFF, 1035px 398px #FFF, 849px 1246px #FFF, 150px 1616px #FFF, 680px 1589px #FFF, 978px 1352px #FFF, 1503px 251px #FFF, 1335px 341px #FFF, 473px 1908px #FFF, 648px 129px #FFF, 1920px 278px #FFF, 531px 1547px #FFF, 386px 631px #FFF, 1043px 1290px #FFF, 1555px 1496px #FFF, 1752px 744px #FFF, 389px 1507px #FFF, 782px 1122px #FFF, 1653px 1187px #FFF, 207px 1530px #FFF, 1754px 387px #FFF, 1544px 1013px #FFF, 546px 171px #FFF, 1772px 601px #FFF, 412px 569px #FFF, 1997px 1327px #FFF, 1339px 1749px #FFF, 1634px 641px #FFF, 226px 1611px #FFF, 164px 1863px #FFF, 817px 1201px #FFF, 1460px 1287px #FFF, 1px 1838px #FFF, 1914px 595px #FFF, 100px 40px #FFF, 915px 830px #FFF, 18px 10px #FFF, 1586px 401px #FFF, 1630px 724px #FFF, 371px 1627px #FFF, 185px 412px #FFF, 1976px 1590px #FFF, 860px 55px #FFF, 310px 635px #FFF, 1178px 445px #FFF, 757px 677px #FFF, 704px 1919px #FFF, 1293px 586px #FFF, 827px 218px #FFF, 1798px 1019px #FFF, 18px 1719px #FFF, 1294px 344px #FFF, 751px 886px #FFF, 874px 522px #FFF, 794px 1085px #FFF, 1884px 303px #FFF, 419px 482px #FFF, 1869px 1780px #FFF, 38px 1563px #FFF, 1312px 1604px #FFF, 1056px 729px #FFF, 1855px 1116px #FFF, 1387px 80px #FFF, 1222px 1039px #FFF, 1288px 1324px #FFF, 1515px 1857px #FFF, 462px 1181px #FFF, 215px 297px #FFF, 1450px 227px #FFF, 1785px 1477px #FFF, 1754px 733px #FFF, 1832px 1679px #FFF, 1717px 1272px #FFF, 172px 1810px #FFF, 142px 382px #FFF, 1168px 116px #FFF, 1296px 1158px #FFF, 146px 1892px #FFF, 63px 887px #FFF, 1471px 819px #FFF, 264px 934px #FFF, 12px 240px #FFF, 219px 408px #FFF, 1827px 975px #FFF, 378px 137px #FFF, 940px 1482px #FFF, 827px 1893px #FFF, 1995px 975px #FFF, 628px 1567px #FFF, 1758px 1850px #FFF, 1933px 1236px #FFF, 525px 650px #FFF, 765px 985px #FFF, 143px 1288px #FFF, 1578px 1860px #FFF, 413px 122px #FFF, 338px 1267px #FFF, 1862px 1246px #FFF, 840px 889px #FFF, 4px 309px #FFF, 216px 331px #FFF, 805px 442px #FFF, 1009px 1529px #FFF, 1582px 1246px #FFF, 1137px 1931px #FFF, 1165px 1738px #FFF, 203px 171px #FFF, 1194px 1120px #FFF, 1084px 1260px #FFF, 254px 1425px #FFF, 458px 247px #FFF, 1739px 300px #FFF, 1699px 1514px #FFF, 1834px 1238px #FFF, 1228px 1383px #FFF, 1492px 654px #FFF, 342px 1519px #FFF, 928px 1670px #FFF, 383px 202px #FFF, 563px 1779px #FFF, 737px 1363px #FFF, 1604px 1712px #FFF, 1679px 1439px #FFF, 927px 1101px #FFF, 70px 771px #FFF, 577px 1756px #FFF, 691px 1616px #FFF, 1388px 468px #FFF, 1128px 11px #FFF, 636px 855px #FFF, 1171px 943px #FFF, 833px 227px #FFF, 225px 1956px #FFF, 1268px 23px #FFF, 951px 927px #FFF, 1766px 977px #FFF, 452px 1099px #FFF, 1877px 1984px #FFF, 526px 918px #FFF, 1729px 657px #FFF, 1889px 1885px #FFF, 1046px 639px #FFF, 876px 461px #FFF, 1199px 923px #FFF, 1883px 748px #FFF, 1206px 153px #FFF, 167px 129px #FFF, 287px 89px #FFF, 1383px 202px #FFF, 6px 540px #FFF, 1371px 1738px #FFF, 1244px 1729px #FFF, 300px 1097px #FFF, 955px 1280px #FFF, 450px 321px #FFF, 246px 544px #FFF, 5px 1031px #FFF, 638px 951px #FFF, 261px 7px #FFF, 581px 734px #FFF, 1756px 1806px #FFF, 1538px 1795px #FFF, 1130px 426px #FFF, 1730px 1894px #FFF, 312px 226px #FFF, 392px 1674px #FFF, 597px 1886px #FFF, 320px 24px #FFF, 1658px 1685px #FFF, 898px 1997px #FFF, 66px 1493px #FFF, 1513px 1824px #FFF, 245px 232px #FFF, 519px 977px #FFF, 1417px 254px #FFF, 1581px 1654px #FFF, 8px 824px #FFF, 1668px 1773px #FFF, 1960px 1118px #FFF, 483px 1991px #FFF, 559px 1584px #FFF, 17px 613px #FFF, 826px 1436px #FFF, 1075px 1958px #FFF, 195px 1px #FFF, 11px 1240px #FFF, 1795px 370px #FFF, 653px 79px #FFF, 1399px 986px #FFF, 16px 194px #FFF, 881px 40px #FFF, 1949px 1629px #FFF, 1602px 1048px #FFF, 701px 1889px #FFF, 349px 809px #FFF, 1441px 1837px #FFF, 1793px 441px #FFF, 584px 855px #FFF, 487px 1955px #FFF, 1957px 598px #FFF, 72px 254px #FFF, 553px 1025px #FFF, 1781px 497px #FFF, 37px 730px #FFF, 1265px 156px #FFF, 1046px 654px #FFF, 1663px 1209px #FFF, 1310px 428px #FFF, 1890px 1436px #FFF, 1878px 156px #FFF, 1790px 1885px #FFF, 1302px 1574px #FFF, 1261px 634px #FFF, 667px 1416px #FFF, 1937px 1940px #FFF, 1786px 761px #FFF, 1984px 998px #FFF, 543px 272px #FFF, 907px 571px #FFF, 1521px 633px #FFF, 1886px 58px #FFF, 551px 1294px #FFF, 1097px 436px #FFF, 1943px 1233px #FFF, 1208px 1751px #FFF, 1878px 1713px #FFF, 935px 397px #FFF, 86px 896px #FFF, 884px 99px #FFF, 1062px 293px #FFF, 1496px 136px #FFF, 1212px 575px #FFF, 724px 999px #FFF, 1118px 1083px #FFF, 1399px 782px #FFF, 988px 383px #FFF, 625px 1668px #FFF, 430px 780px #FFF, 1874px 979px #FFF, 328px 1264px #FFF, 1868px 114px #FFF, 968px 644px #FFF, 1595px 1921px #FFF, 945px 1919px #FFF, 450px 440px #FFF, 1819px 1178px #FFF, 1820px 1977px #FFF, 496px 845px #FFF, 659px 328px #FFF, 264px 115px #FFF, 1274px 129px #FFF, 1830px 145px #FFF, 990px 1487px #FFF, 1238px 1979px #FFF, 1559px 267px #FFF, 1802px 1307px #FFF, 391px 656px #FFF, 625px 1324px #FFF, 720px 562px #FFF, 854px 1513px #FFF, 549px 564px #FFF, 128px 681px #FFF, 1068px 1343px #FFF, 535px 1918px #FFF, 21px 1584px #FFF, 394px 900px #FFF, 547px 1773px #FFF, 330px 427px #FFF, 499px 1159px #FFF, 1529px 1973px #FFF, 1693px 1075px #FFF, 77px 1601px #FFF, 630px 1698px #FFF, 380px 1469px #FFF, 1411px 346px #FFF, 909px 1507px #FFF, 119px 1168px #FFF, 1719px 1855px #FFF, 548px 1731px #FFF, 599px 775px #FFF, 1345px 1682px #FFF, 986px 844px #FFF, 1872px 1859px #FFF, 1650px 1592px #FFF, 1014px 1676px #FFF, 1006px 705px #FFF, 860px 695px #FFF, 214px 1329px #FFF, 346px 1225px #FFF, 1990px 363px #FFF, 904px 1257px #FFF, 1373px 913px #FFF, 276px 1929px #FFF, 1415px 294px #FFF, 1670px 1252px #FFF, 1516px 1354px #FFF, 1376px 689px #FFF, 33px 1622px #FFF, 796px 720px #FFF, 714px 1793px #FFF, 1744px 1928px #FFF, 220px 608px #FFF, 251px 1414px #FFF, 1327px 1347px #FFF, 942px 636px #FFF, 1795px 1976px #FFF, 400px 627px #FFF, 354px 1181px #FFF, 1332px 508px #FFF, 722px 771px #FFF, 89px 1287px #FFF, 764px 615px #FFF, 1170px 1957px #FFF, 531px 1036px #FFF, 471px 630px #FFF, 1429px 1242px #FFF, 1863px 168px #FFF, 1065px 289px #FFF, 1193px 864px #FFF, 44px 1988px #FFF, 190px 1426px #FFF, 142px 1248px #FFF, 1818px 932px #FFF, 171px 580px #FFF, 1409px 657px #FFF, 402px 22px #FFF, 1420px 33px #FFF, 649px 557px #FFF, 600px 194px #FFF, 1013px 1113px #FFF, 1160px 1833px #FFF, 339px 264px #FFF, 326px 1774px #FFF, 1198px 188px #FFF, 211px 307px #FFF, 1836px 1587px #FFF, 926px 1117px #FFF, 1352px 569px #FFF, 69px 90px #FFF, 1780px 1146px #FFF, 777px 227px #FFF, 1097px 888px #FFF, 1456px 1670px #FFF, 888px 1358px #FFF, 932px 1467px #FFF, 1902px 1485px #FFF, 1174px 1429px #FFF, 292px 371px #FFF, 385px 1470px #FFF, 1755px 373px #FFF, 883px 1651px #FFF, 1755px 1859px #FFF, 1834px 264px #FFF, 828px 1911px #FFF, 1742px 818px #FFF, 1875px 1215px #FFF, 630px 57px #FFF, 959px 1649px #FFF, 793px 1575px #FFF, 1303px 1583px #FFF, 1347px 698px #FFF, 309px 773px #FFF, 1345px 1486px #FFF, 813px 1631px #FFF, 1566px 359px #FFF, 1419px 1153px #FFF, 885px 394px #FFF, 871px 1928px #FFF, 1783px 834px #FFF, 595px 678px #FFF, 1981px 949px #FFF, 1532px 1625px #FFF, 1140px 1394px #FFF, 101px 1721px #FFF, 1999px 1402px #FFF, 1627px 767px #FFF, 1345px 1505px #FFF, 1301px 83px #FFF, 1752px 430px #FFF, 522px 1814px #FFF, 1315px 161px #FFF, 1742px 144px #FFF, 137px 1127px #FFF, 1437px 1152px #FFF, 285px 1435px #FFF, 1771px 978px #FFF, 189px 219px #FFF, 107px 998px #FFF, 1503px 101px #FFF, 254px 1418px #FFF, 1970px 745px #FFF, 307px 1449px #FFF, 807px 911px #FFF, 1273px 1960px #FFF, 1059px 1642px #FFF, 1549px 969px #FFF, 1464px 895px #FFF, 517px 920px #FFF, 1197px 693px #FFF, 1713px 687px #FFF, 248px 1363px #FFF, 878px 910px #FFF, 499px 146px #FFF, 536px 1254px #FFF, 1576px 527px #FFF, 1300px 1368px #FFF, 1497px 1418px #FFF, 651px 246px #FFF, 701px 1153px #FFF, 175px 1933px #FFF, 733px 1622px #FFF, 1679px 1366px #FFF, 1574px 207px #FFF, 929px 1652px #FFF, 344px 1241px #FFF, 1952px 523px #FFF, 1789px 1748px #FFF, 841px 1064px #FFF, 112px 1520px #FFF, 1260px 313px #FFF, 900px 194px #FFF, 1758px 1783px #FFF, 204px 1738px #FFF, 1806px 1275px #FFF, 1355px 97px #FFF, 49px 1661px #FFF, 1891px 864px #FFF, 890px 942px #FFF, 1134px 1109px #FFF, 805px 25px #FFF, 943px 1374px #FFF, 654px 1213px #FFF, 713px 1722px #FFF, 241px 422px #FFF, 590px 1080px #FFF, 1397px 1218px #FFF, 1010px 87px #FFF, 243px 1704px #FFF, 1272px 449px #FFF, 899px 1732px #FFF, 890px 622px #FFF, 438px 79px #FFF, 1474px 568px #FFF, 484px 31px #FFF, 1180px 856px #FFF, 213px 57px #FFF, 1809px 1882px #FFF, 1618px 3px #FFF, 1450px 1895px #FFF, 1295px 1033px #FFF, 1694px 1666px #FFF, 1057px 549px #FFF, 1012px 110px #FFF, 1298px 1917px #FFF, 680px 1181px #FFF, 993px 1899px #FFF, 172px 770px #FFF, 1187px 1581px #FFF, 293px 1195px #FFF, 1583px 1222px #FFF, 1790px 979px #FFF, 968px 1245px #FFF, 690px 1031px #FFF, 1255px 1667px #FFF, 18px 1696px #FFF, 1897px 1411px #FFF, 39px 1761px #FFF, 1697px 950px #FFF, 947px 634px #FFF, 449px 1504px #FFF, 497px 1286px #FFF, 63px 610px #FFF, 1432px 1081px #FFF, 555px 1273px #FFF, 1775px 1606px #FFF, 1032px 590px #FFF, 262px 1524px #FFF, 287px 825px #FFF, 782px 457px #FFF, 913px 357px #FFF, 91px 539px #FFF, 1581px 1971px #FFF, 280px 1100px #FFF, 266px 114px #FFF, 1368px 807px #FFF, 515px 1649px #FFF, 64px 1177px #FFF, 20px 926px #FFF, 678px 419px #FFF, 389px 265px #FFF, 39px 183px #FFF, 379px 569px #FFF, 1249px 421px #FFF, 245px 847px #FFF, 394px 10px #FFF, 261px 593px #FFF, 602px 1633px #FFF, 1269px 1879px #FFF, 1774px 1798px #FFF, 1331px 1853px #FFF, 934px 1153px #FFF, 668px 1901px #FFF, 616px 94px #FFF, 861px 761px #FFF, 1431px 625px #FFF, 729px 164px #FFF, 1191px 511px #FFF, 1906px 303px #FFF, 136px 1885px #FFF, 1726px 1987px #FFF, 1877px 1105px #FFF, 833px 1756px #FFF, 249px 1851px #FFF, 1454px 437px #FFF, 1330px 42px #FFF, 1714px 1733px #FFF, 1009px 1467px #FFF, 662px 1101px #FFF, 1545px 510px #FFF, 1981px 1248px #FFF, 1932px 1289px #FFF, 878px 1995px #FFF, 1006px 842px #FFF, 1031px 1096px #FFF, 1676px 1540px #FFF, 343px 1811px #FFF, 1648px 1069px #FFF, 914px 565px #FFF, 1714px 279px #FFF, 229px 1163px #FFF, 862px 700px #FFF, 26px 1968px #FFF, 837px 1303px #FFF, 1996px 1044px #FFF, 985px 746px #FFF, 148px 1370px #FFF, 1668px 1624px #FFF, 1993px 398px #FFF, 1265px 340px #FFF, 1519px 1825px #FFF, 293px 1109px #FFF, 1642px 641px #FFF, 1060px 1168px #FFF, 933px 1838px #FFF, 542px 917px #FFF, 103px 904px #FFF, 1731px 1145px #FFF, 1940px 480px #FFF, 1064px 382px #FFF, 1872px 550px #FFF, 181px 1460px #FFF, 1643px 1758px #FFF, 1409px 1714px #FFF, 552px 1979px #FFF, 1900px 868px #FFF, 1488px 1650px #FFF, 796px 1202px #FFF, 1528px 1345px #FFF, 959px 868px #FFF, 90px 1387px #FFF, 1615px 57px #FFF, 1638px 1857px #FFF, 1334px 144px #FFF, 1758px 1986px #FFF, 737px 887px #FFF, 646px 1517px #FFF, 1842px 1070px #FFF, 1666px 314px #FFF, 339px 1042px #FFF, 984px 1389px #FFF, 506px 13px #FFF, 1872px 1935px #FFF, 221px 1291px #FFF, 1485px 852px #FFF, 193px 135px #FFF, 42px 647px #FFF, 1066px 274px #FFF, 1095px 1509px #FFF, 411px 764px #FFF, 957px 386px #FFF, 1424px 151px #FFF, 1250px 1522px #FFF, 557px 349px #FFF, 950px 1590px #FFF, 1906px 1732px #FFF, 270px 121px #FFF, 1650px 1836px #FFF, 1061px 544px #FFF, 1133px 1462px #FFF, 67px 1237px #FFF, 199px 431px #FFF, 330px 1684px #FFF, 862px 1927px #FFF, 524px 868px #FFF, 471px 1773px #FFF, 1508px 1783px #FFF, 1493px 1645px #FFF, 770px 1942px #FFF, 743px 1346px #FFF;
  animation: animStar 50s linear infinite;
}
.star-layers #stars::after {
  box-shadow: 1887px 1821px #FFF, 1485px 1061px #FFF, 1518px 429px #FFF, 205px 1744px #FFF, 4px 1489px #FFF, 1432px 868px #FFF, 142px 1936px #FFF, 613px 567px #FFF, 1690px 204px #FFF, 677px 1633px #FFF, 1504px 640px #FFF, 623px 914px #FFF, 94px 1139px #FFF, 155px 1218px #FFF, 1705px 1839px #FFF, 1141px 1966px #FFF, 143px 852px #FFF, 382px 646px #FFF, 340px 629px #FFF, 1523px 666px #FFF, 870px 485px #FFF, 1581px 192px #FFF, 1382px 1136px #FFF, 407px 74px #FFF, 451px 761px #FFF, 312px 782px #FFF, 1436px 906px #FFF, 1554px 1733px #FFF, 965px 868px #FFF, 262px 1107px #FFF, 413px 1641px #FFF, 1859px 1589px #FFF, 377px 1441px #FFF, 1694px 163px #FFF, 671px 83px #FFF, 379px 1349px #FFF, 1307px 1321px #FFF, 1731px 1039px #FFF, 1055px 1646px #FFF, 1753px 1137px #FFF, 1706px 941px #FFF, 410px 1275px #FFF, 818px 1020px #FFF, 1778px 173px #FFF, 185px 1952px #FFF, 1786px 150px #FFF, 490px 19px #FFF, 1733px 1427px #FFF, 1789px 156px #FFF, 1267px 1827px #FFF, 1434px 730px #FFF, 1258px 104px #FFF, 1195px 1161px #FFF, 1321px 1341px #FFF, 948px 1547px #FFF, 1475px 450px #FFF, 1649px 2px #FFF, 246px 1852px #FFF, 1623px 885px #FFF, 1342px 1092px #FFF, 1048px 1349px #FFF, 1862px 248px #FFF, 1313px 397px #FFF, 1789px 702px #FFF, 439px 1507px #FFF, 609px 829px #FFF, 296px 1574px #FFF, 1894px 1867px #FFF, 1372px 400px #FFF, 1260px 184px #FFF, 878px 457px #FFF, 551px 119px #FFF, 1107px 1382px #FFF, 700px 384px #FFF, 186px 1370px #FFF, 1335px 724px #FFF, 846px 45px #FFF, 1090px 586px #FFF, 849px 626px #FFF, 698px 1771px #FFF, 881px 1615px #FFF, 649px 1549px #FFF, 422px 659px #FFF, 120px 1197px #FFF, 291px 967px #FFF, 1810px 1680px #FFF, 1293px 1190px #FFF, 966px 1002px #FFF, 1830px 1750px #FFF, 908px 513px #FFF, 923px 1474px #FFF, 950px 1512px #FFF, 1478px 602px #FFF, 818px 1519px #FFF, 1359px 239px #FFF, 721px 1638px #FFF, 65px 585px #FFF, 502px 241px #FFF, 209px 1847px #FFF, 1390px 393px #FFF, 447px 1824px #FFF, 1575px 100px #FFF, 1035px 398px #FFF, 849px 1246px #FFF, 150px 1616px #FFF, 680px 1589px #FFF, 978px 1352px #FFF, 1503px 251px #FFF, 1335px 341px #FFF, 473px 1908px #FFF, 648px 129px #FFF, 1920px 278px #FFF, 531px 1547px #FFF, 386px 631px #FFF, 1043px 1290px #FFF, 1555px 1496px #FFF, 1752px 744px #FFF, 389px 1507px #FFF, 782px 1122px #FFF, 1653px 1187px #FFF, 207px 1530px #FFF, 1754px 387px #FFF, 1544px 1013px #FFF, 546px 171px #FFF, 1772px 601px #FFF, 412px 569px #FFF, 1997px 1327px #FFF, 1339px 1749px #FFF, 1634px 641px #FFF, 226px 1611px #FFF, 164px 1863px #FFF, 817px 1201px #FFF, 1460px 1287px #FFF, 1px 1838px #FFF, 1914px 595px #FFF, 100px 40px #FFF, 915px 830px #FFF, 18px 10px #FFF, 1586px 401px #FFF, 1630px 724px #FFF, 371px 1627px #FFF, 185px 412px #FFF, 1976px 1590px #FFF, 860px 55px #FFF, 310px 635px #FFF, 1178px 445px #FFF, 757px 677px #FFF, 704px 1919px #FFF, 1293px 586px #FFF, 827px 218px #FFF, 1798px 1019px #FFF, 18px 1719px #FFF, 1294px 344px #FFF, 751px 886px #FFF, 874px 522px #FFF, 794px 1085px #FFF, 1884px 303px #FFF, 419px 482px #FFF, 1869px 1780px #FFF, 38px 1563px #FFF, 1312px 1604px #FFF, 1056px 729px #FFF, 1855px 1116px #FFF, 1387px 80px #FFF, 1222px 1039px #FFF, 1288px 1324px #FFF, 1515px 1857px #FFF, 462px 1181px #FFF, 215px 297px #FFF, 1450px 227px #FFF, 1785px 1477px #FFF, 1754px 733px #FFF, 1832px 1679px #FFF, 1717px 1272px #FFF, 172px 1810px #FFF, 142px 382px #FFF, 1168px 116px #FFF, 1296px 1158px #FFF, 146px 1892px #FFF, 63px 887px #FFF, 1471px 819px #FFF, 264px 934px #FFF, 12px 240px #FFF, 219px 408px #FFF, 1827px 975px #FFF, 378px 137px #FFF, 940px 1482px #FFF, 827px 1893px #FFF, 1995px 975px #FFF, 628px 1567px #FFF, 1758px 1850px #FFF, 1933px 1236px #FFF, 525px 650px #FFF, 765px 985px #FFF, 143px 1288px #FFF, 1578px 1860px #FFF, 413px 122px #FFF, 338px 1267px #FFF, 1862px 1246px #FFF, 840px 889px #FFF, 4px 309px #FFF, 216px 331px #FFF, 805px 442px #FFF, 1009px 1529px #FFF, 1582px 1246px #FFF, 1137px 1931px #FFF, 1165px 1738px #FFF, 203px 171px #FFF, 1194px 1120px #FFF, 1084px 1260px #FFF, 254px 1425px #FFF, 458px 247px #FFF, 1739px 300px #FFF, 1699px 1514px #FFF, 1834px 1238px #FFF, 1228px 1383px #FFF, 1492px 654px #FFF, 342px 1519px #FFF, 928px 1670px #FFF, 383px 202px #FFF, 563px 1779px #FFF, 737px 1363px #FFF, 1604px 1712px #FFF, 1679px 1439px #FFF, 927px 1101px #FFF, 70px 771px #FFF, 577px 1756px #FFF, 691px 1616px #FFF, 1388px 468px #FFF, 1128px 11px #FFF, 636px 855px #FFF, 1171px 943px #FFF, 833px 227px #FFF, 225px 1956px #FFF, 1268px 23px #FFF, 951px 927px #FFF, 1766px 977px #FFF, 452px 1099px #FFF, 1877px 1984px #FFF, 526px 918px #FFF, 1729px 657px #FFF, 1889px 1885px #FFF, 1046px 639px #FFF, 876px 461px #FFF, 1199px 923px #FFF, 1883px 748px #FFF, 1206px 153px #FFF, 167px 129px #FFF, 287px 89px #FFF, 1383px 202px #FFF, 6px 540px #FFF, 1371px 1738px #FFF, 1244px 1729px #FFF, 300px 1097px #FFF, 955px 1280px #FFF, 450px 321px #FFF, 246px 544px #FFF, 5px 1031px #FFF, 638px 951px #FFF, 261px 7px #FFF, 581px 734px #FFF, 1756px 1806px #FFF, 1538px 1795px #FFF, 1130px 426px #FFF, 1730px 1894px #FFF, 312px 226px #FFF, 392px 1674px #FFF, 597px 1886px #FFF, 320px 24px #FFF, 1658px 1685px #FFF, 898px 1997px #FFF, 66px 1493px #FFF, 1513px 1824px #FFF, 245px 232px #FFF, 519px 977px #FFF, 1417px 254px #FFF, 1581px 1654px #FFF, 8px 824px #FFF, 1668px 1773px #FFF, 1960px 1118px #FFF, 483px 1991px #FFF, 559px 1584px #FFF, 17px 613px #FFF, 826px 1436px #FFF, 1075px 1958px #FFF, 195px 1px #FFF, 11px 1240px #FFF, 1795px 370px #FFF, 653px 79px #FFF, 1399px 986px #FFF, 16px 194px #FFF, 881px 40px #FFF, 1949px 1629px #FFF, 1602px 1048px #FFF, 701px 1889px #FFF, 349px 809px #FFF, 1441px 1837px #FFF, 1793px 441px #FFF, 584px 855px #FFF, 487px 1955px #FFF, 1957px 598px #FFF, 72px 254px #FFF, 553px 1025px #FFF, 1781px 497px #FFF, 37px 730px #FFF, 1265px 156px #FFF, 1046px 654px #FFF, 1663px 1209px #FFF, 1310px 428px #FFF, 1890px 1436px #FFF, 1878px 156px #FFF, 1790px 1885px #FFF, 1302px 1574px #FFF, 1261px 634px #FFF, 667px 1416px #FFF, 1937px 1940px #FFF, 1786px 761px #FFF, 1984px 998px #FFF, 543px 272px #FFF, 907px 571px #FFF, 1521px 633px #FFF, 1886px 58px #FFF, 551px 1294px #FFF, 1097px 436px #FFF, 1943px 1233px #FFF, 1208px 1751px #FFF, 1878px 1713px #FFF, 935px 397px #FFF, 86px 896px #FFF, 884px 99px #FFF, 1062px 293px #FFF, 1496px 136px #FFF, 1212px 575px #FFF, 724px 999px #FFF, 1118px 1083px #FFF, 1399px 782px #FFF, 988px 383px #FFF, 625px 1668px #FFF, 430px 780px #FFF, 1874px 979px #FFF, 328px 1264px #FFF, 1868px 114px #FFF, 968px 644px #FFF, 1595px 1921px #FFF, 945px 1919px #FFF, 450px 440px #FFF, 1819px 1178px #FFF, 1820px 1977px #FFF, 496px 845px #FFF, 659px 328px #FFF, 264px 115px #FFF, 1274px 129px #FFF, 1830px 145px #FFF, 990px 1487px #FFF, 1238px 1979px #FFF, 1559px 267px #FFF, 1802px 1307px #FFF, 391px 656px #FFF, 625px 1324px #FFF, 720px 562px #FFF, 854px 1513px #FFF, 549px 564px #FFF, 128px 681px #FFF, 1068px 1343px #FFF, 535px 1918px #FFF, 21px 1584px #FFF, 394px 900px #FFF, 547px 1773px #FFF, 330px 427px #FFF, 499px 1159px #FFF, 1529px 1973px #FFF, 1693px 1075px #FFF, 77px 1601px #FFF, 630px 1698px #FFF, 380px 1469px #FFF, 1411px 346px #FFF, 909px 1507px #FFF, 119px 1168px #FFF, 1719px 1855px #FFF, 548px 1731px #FFF, 599px 775px #FFF, 1345px 1682px #FFF, 986px 844px #FFF, 1872px 1859px #FFF, 1650px 1592px #FFF, 1014px 1676px #FFF, 1006px 705px #FFF, 860px 695px #FFF, 214px 1329px #FFF, 346px 1225px #FFF, 1990px 363px #FFF, 904px 1257px #FFF, 1373px 913px #FFF, 276px 1929px #FFF, 1415px 294px #FFF, 1670px 1252px #FFF, 1516px 1354px #FFF, 1376px 689px #FFF, 33px 1622px #FFF, 796px 720px #FFF, 714px 1793px #FFF, 1744px 1928px #FFF, 220px 608px #FFF, 251px 1414px #FFF, 1327px 1347px #FFF, 942px 636px #FFF, 1795px 1976px #FFF, 400px 627px #FFF, 354px 1181px #FFF, 1332px 508px #FFF, 722px 771px #FFF, 89px 1287px #FFF, 764px 615px #FFF, 1170px 1957px #FFF, 531px 1036px #FFF, 471px 630px #FFF, 1429px 1242px #FFF, 1863px 168px #FFF, 1065px 289px #FFF, 1193px 864px #FFF, 44px 1988px #FFF, 190px 1426px #FFF, 142px 1248px #FFF, 1818px 932px #FFF, 171px 580px #FFF, 1409px 657px #FFF, 402px 22px #FFF, 1420px 33px #FFF, 649px 557px #FFF, 600px 194px #FFF, 1013px 1113px #FFF, 1160px 1833px #FFF, 339px 264px #FFF, 326px 1774px #FFF, 1198px 188px #FFF, 211px 307px #FFF, 1836px 1587px #FFF, 926px 1117px #FFF, 1352px 569px #FFF, 69px 90px #FFF, 1780px 1146px #FFF, 777px 227px #FFF, 1097px 888px #FFF, 1456px 1670px #FFF, 888px 1358px #FFF, 932px 1467px #FFF, 1902px 1485px #FFF, 1174px 1429px #FFF, 292px 371px #FFF, 385px 1470px #FFF, 1755px 373px #FFF, 883px 1651px #FFF, 1755px 1859px #FFF, 1834px 264px #FFF, 828px 1911px #FFF, 1742px 818px #FFF, 1875px 1215px #FFF, 630px 57px #FFF, 959px 1649px #FFF, 793px 1575px #FFF, 1303px 1583px #FFF, 1347px 698px #FFF, 309px 773px #FFF, 1345px 1486px #FFF, 813px 1631px #FFF, 1566px 359px #FFF, 1419px 1153px #FFF, 885px 394px #FFF, 871px 1928px #FFF, 1783px 834px #FFF, 595px 678px #FFF, 1981px 949px #FFF, 1532px 1625px #FFF, 1140px 1394px #FFF, 101px 1721px #FFF, 1999px 1402px #FFF, 1627px 767px #FFF, 1345px 1505px #FFF, 1301px 83px #FFF, 1752px 430px #FFF, 522px 1814px #FFF, 1315px 161px #FFF, 1742px 144px #FFF, 137px 1127px #FFF, 1437px 1152px #FFF, 285px 1435px #FFF, 1771px 978px #FFF, 189px 219px #FFF, 107px 998px #FFF, 1503px 101px #FFF, 254px 1418px #FFF, 1970px 745px #FFF, 307px 1449px #FFF, 807px 911px #FFF, 1273px 1960px #FFF, 1059px 1642px #FFF, 1549px 969px #FFF, 1464px 895px #FFF, 517px 920px #FFF, 1197px 693px #FFF, 1713px 687px #FFF, 248px 1363px #FFF, 878px 910px #FFF, 499px 146px #FFF, 536px 1254px #FFF, 1576px 527px #FFF, 1300px 1368px #FFF, 1497px 1418px #FFF, 651px 246px #FFF, 701px 1153px #FFF, 175px 1933px #FFF, 733px 1622px #FFF, 1679px 1366px #FFF, 1574px 207px #FFF, 929px 1652px #FFF, 344px 1241px #FFF, 1952px 523px #FFF, 1789px 1748px #FFF, 841px 1064px #FFF, 112px 1520px #FFF, 1260px 313px #FFF, 900px 194px #FFF, 1758px 1783px #FFF, 204px 1738px #FFF, 1806px 1275px #FFF, 1355px 97px #FFF, 49px 1661px #FFF, 1891px 864px #FFF, 890px 942px #FFF, 1134px 1109px #FFF, 805px 25px #FFF, 943px 1374px #FFF, 654px 1213px #FFF, 713px 1722px #FFF, 241px 422px #FFF, 590px 1080px #FFF, 1397px 1218px #FFF, 1010px 87px #FFF, 243px 1704px #FFF, 1272px 449px #FFF, 899px 1732px #FFF, 890px 622px #FFF, 438px 79px #FFF, 1474px 568px #FFF, 484px 31px #FFF, 1180px 856px #FFF, 213px 57px #FFF, 1809px 1882px #FFF, 1618px 3px #FFF, 1450px 1895px #FFF, 1295px 1033px #FFF, 1694px 1666px #FFF, 1057px 549px #FFF, 1012px 110px #FFF, 1298px 1917px #FFF, 680px 1181px #FFF, 993px 1899px #FFF, 172px 770px #FFF, 1187px 1581px #FFF, 293px 1195px #FFF, 1583px 1222px #FFF, 1790px 979px #FFF, 968px 1245px #FFF, 690px 1031px #FFF, 1255px 1667px #FFF, 18px 1696px #FFF, 1897px 1411px #FFF, 39px 1761px #FFF, 1697px 950px #FFF, 947px 634px #FFF, 449px 1504px #FFF, 497px 1286px #FFF, 63px 610px #FFF, 1432px 1081px #FFF, 555px 1273px #FFF, 1775px 1606px #FFF, 1032px 590px #FFF, 262px 1524px #FFF, 287px 825px #FFF, 782px 457px #FFF, 913px 357px #FFF, 91px 539px #FFF, 1581px 1971px #FFF, 280px 1100px #FFF, 266px 114px #FFF, 1368px 807px #FFF, 515px 1649px #FFF, 64px 1177px #FFF, 20px 926px #FFF, 678px 419px #FFF, 389px 265px #FFF, 39px 183px #FFF, 379px 569px #FFF, 1249px 421px #FFF, 245px 847px #FFF, 394px 10px #FFF, 261px 593px #FFF, 602px 1633px #FFF, 1269px 1879px #FFF, 1774px 1798px #FFF, 1331px 1853px #FFF, 934px 1153px #FFF, 668px 1901px #FFF, 616px 94px #FFF, 861px 761px #FFF, 1431px 625px #FFF, 729px 164px #FFF, 1191px 511px #FFF, 1906px 303px #FFF, 136px 1885px #FFF, 1726px 1987px #FFF, 1877px 1105px #FFF, 833px 1756px #FFF, 249px 1851px #FFF, 1454px 437px #FFF, 1330px 42px #FFF, 1714px 1733px #FFF, 1009px 1467px #FFF, 662px 1101px #FFF, 1545px 510px #FFF, 1981px 1248px #FFF, 1932px 1289px #FFF, 878px 1995px #FFF, 1006px 842px #FFF, 1031px 1096px #FFF, 1676px 1540px #FFF, 343px 1811px #FFF, 1648px 1069px #FFF, 914px 565px #FFF, 1714px 279px #FFF, 229px 1163px #FFF, 862px 700px #FFF, 26px 1968px #FFF, 837px 1303px #FFF, 1996px 1044px #FFF, 985px 746px #FFF, 148px 1370px #FFF, 1668px 1624px #FFF, 1993px 398px #FFF, 1265px 340px #FFF, 1519px 1825px #FFF, 293px 1109px #FFF, 1642px 641px #FFF, 1060px 1168px #FFF, 933px 1838px #FFF, 542px 917px #FFF, 103px 904px #FFF, 1731px 1145px #FFF, 1940px 480px #FFF, 1064px 382px #FFF, 1872px 550px #FFF, 181px 1460px #FFF, 1643px 1758px #FFF, 1409px 1714px #FFF, 552px 1979px #FFF, 1900px 868px #FFF, 1488px 1650px #FFF, 796px 1202px #FFF, 1528px 1345px #FFF, 959px 868px #FFF, 90px 1387px #FFF, 1615px 57px #FFF, 1638px 1857px #FFF, 1334px 144px #FFF, 1758px 1986px #FFF, 737px 887px #FFF, 646px 1517px #FFF, 1842px 1070px #FFF, 1666px 314px #FFF, 339px 1042px #FFF, 984px 1389px #FFF, 506px 13px #FFF, 1872px 1935px #FFF, 221px 1291px #FFF, 1485px 852px #FFF, 193px 135px #FFF, 42px 647px #FFF, 1066px 274px #FFF, 1095px 1509px #FFF, 411px 764px #FFF, 957px 386px #FFF, 1424px 151px #FFF, 1250px 1522px #FFF, 557px 349px #FFF, 950px 1590px #FFF, 1906px 1732px #FFF, 270px 121px #FFF, 1650px 1836px #FFF, 1061px 544px #FFF, 1133px 1462px #FFF, 67px 1237px #FFF, 199px 431px #FFF, 330px 1684px #FFF, 862px 1927px #FFF, 524px 868px #FFF, 471px 1773px #FFF, 1508px 1783px #FFF, 1493px 1645px #FFF, 770px 1942px #FFF, 743px 1346px #FFF;
}
.star-layers #stars2 {
  width: 2px;
  height: 2px;
  box-shadow: 850px 1633px #FFF, 685px 1002px #FFF, 1885px 1150px #FFF, 148px 968px #FFF, 494px 1163px #FFF, 79px 689px #FFF, 239px 654px #FFF, 1628px 113px #FFF, 486px 112px #FFF, 409px 1606px #FFF, 864px 1304px #FFF, 133px 1077px #FFF, 1363px 1328px #FFF, 1466px 508px #FFF, 1099px 1922px #FFF, 1561px 1042px #FFF, 173px 1435px #FFF, 396px 1623px #FFF, 1565px 962px #FFF, 371px 815px #FFF, 1197px 550px #FFF, 392px 882px #FFF, 1818px 699px #FFF, 630px 1826px #FFF, 646px 444px #FFF, 1891px 108px #FFF, 1453px 1808px #FFF, 1968px 879px #FFF, 1443px 423px #FFF, 1020px 407px #FFF, 694px 1117px #FFF, 635px 787px #FFF, 1544px 1796px #FFF, 1802px 1467px #FFF, 337px 1844px #FFF, 1458px 1768px #FFF, 577px 961px #FFF, 1576px 1049px #FFF, 597px 1649px #FFF, 229px 1025px #FFF, 1665px 996px #FFF, 530px 737px #FFF, 1771px 1739px #FFF, 1119px 387px #FFF, 378px 1254px #FFF, 213px 9px #FFF, 1873px 878px #FFF, 501px 1528px #FFF, 311px 1651px #FFF, 1977px 590px #FFF, 1530px 1245px #FFF, 699px 474px #FFF, 886px 1228px #FFF, 1620px 1826px #FFF, 843px 286px #FFF, 1809px 1000px #FFF, 1110px 1907px #FFF, 444px 1118px #FFF, 890px 481px #FFF, 426px 1240px #FFF, 1530px 998px #FFF, 265px 367px #FFF, 603px 910px #FFF, 688px 1418px #FFF, 1114px 503px #FFF, 1382px 1254px #FFF, 1485px 1443px #FFF, 1643px 1526px #FFF, 357px 583px #FFF, 561px 571px #FFF, 1538px 1078px #FFF, 14px 1302px #FFF, 618px 1441px #FFF, 1896px 1725px #FFF, 1824px 1716px #FFF, 1484px 269px #FFF, 972px 303px #FFF, 1261px 1812px #FFF, 360px 1796px #FFF, 592px 1683px #FFF, 491px 173px #FFF, 1293px 653px #FFF, 1946px 1394px #FFF, 1548px 1127px #FFF, 151px 630px #FFF, 739px 715px #FFF, 1857px 1650px #FFF, 444px 564px #FFF, 1377px 591px #FFF, 1060px 1075px #FFF, 1516px 1637px #FFF, 883px 1471px #FFF, 1829px 1119px #FFF, 36px 1678px #FFF, 686px 1977px #FFF, 776px 1605px #FFF, 652px 611px #FFF, 544px 1030px #FFF, 1190px 281px #FFF, 1445px 109px #FFF, 548px 1938px #FFF, 190px 1770px #FFF, 1306px 1487px #FFF, 960px 563px #FFF, 690px 1871px #FFF, 681px 1588px #FFF, 95px 412px #FFF, 1472px 476px #FFF, 1348px 194px #FFF, 1237px 609px #FFF, 1172px 1591px #FFF, 1112px 1478px #FFF, 150px 246px #FFF, 1015px 340px #FFF, 1527px 1245px #FFF, 1091px 1312px #FFF, 551px 1931px #FFF, 1441px 1876px #FFF, 853px 1736px #FFF, 189px 528px #FFF, 389px 820px #FFF, 796px 1610px #FFF, 970px 125px #FFF, 1871px 396px #FFF, 1927px 1040px #FFF, 306px 968px #FFF, 666px 1440px #FFF, 1819px 1974px #FFF, 1738px 787px #FFF, 758px 318px #FFF, 1318px 866px #FFF, 303px 709px #FFF, 223px 1128px #FFF, 1821px 1628px #FFF, 1486px 139px #FFF, 345px 611px #FFF, 1532px 916px #FFF, 654px 681px #FFF, 1699px 1575px #FFF, 1455px 712px #FFF, 1161px 403px #FFF, 485px 467px #FFF, 1460px 1831px #FFF, 1717px 1672px #FFF, 1127px 1692px #FFF, 1924px 67px #FFF, 313px 299px #FFF, 29px 513px #FFF, 359px 436px #FFF, 1198px 1428px #FFF, 1679px 1212px #FFF, 1855px 40px #FFF, 875px 942px #FFF, 2000px 1512px #FFF, 1576px 268px #FFF, 612px 1782px #FFF, 1957px 815px #FFF, 732px 1310px #FFF, 609px 1199px #FFF, 1962px 702px #FFF, 445px 1393px #FFF, 377px 1128px #FFF, 1957px 788px #FFF, 1154px 777px #FFF, 838px 1004px #FFF, 309px 1973px #FFF, 713px 920px #FFF, 1738px 1683px #FFF, 1913px 360px #FFF, 1754px 17px #FFF, 905px 606px #FFF, 41px 1302px #FFF, 1859px 68px #FFF, 463px 300px #FFF, 1517px 425px #FFF, 1065px 1322px #FFF, 379px 1180px #FFF, 202px 1817px #FFF, 609px 787px #FFF, 1700px 288px #FFF, 1368px 1850px #FFF, 1665px 1878px #FFF, 489px 13px #FFF, 1571px 892px #FFF, 1968px 1513px #FFF, 1815px 1433px #FFF, 469px 1216px #FFF, 689px 878px #FFF, 115px 239px #FFF, 571px 599px #FFF, 82px 1444px #FFF, 757px 1096px #FFF, 1660px 556px #FFF, 1940px 1477px #FFF, 1230px 772px #FFF, 1285px 1388px #FFF, 1144px 1297px #FFF, 1064px 1026px #FFF, 1409px 651px #FFF, 166px 583px #FFF;
  animation: animStar 100s linear infinite;
}
.star-layers #stars2::after {
  width: 2px;
  height: 2px;
  box-shadow: 850px 1633px #FFF, 685px 1002px #FFF, 1885px 1150px #FFF, 148px 968px #FFF, 494px 1163px #FFF, 79px 689px #FFF, 239px 654px #FFF, 1628px 113px #FFF, 486px 112px #FFF, 409px 1606px #FFF, 864px 1304px #FFF, 133px 1077px #FFF, 1363px 1328px #FFF, 1466px 508px #FFF, 1099px 1922px #FFF, 1561px 1042px #FFF, 173px 1435px #FFF, 396px 1623px #FFF, 1565px 962px #FFF, 371px 815px #FFF, 1197px 550px #FFF, 392px 882px #FFF, 1818px 699px #FFF, 630px 1826px #FFF, 646px 444px #FFF, 1891px 108px #FFF, 1453px 1808px #FFF, 1968px 879px #FFF, 1443px 423px #FFF, 1020px 407px #FFF, 694px 1117px #FFF, 635px 787px #FFF, 1544px 1796px #FFF, 1802px 1467px #FFF, 337px 1844px #FFF, 1458px 1768px #FFF, 577px 961px #FFF, 1576px 1049px #FFF, 597px 1649px #FFF, 229px 1025px #FFF, 1665px 996px #FFF, 530px 737px #FFF, 1771px 1739px #FFF, 1119px 387px #FFF, 378px 1254px #FFF, 213px 9px #FFF, 1873px 878px #FFF, 501px 1528px #FFF, 311px 1651px #FFF, 1977px 590px #FFF, 1530px 1245px #FFF, 699px 474px #FFF, 886px 1228px #FFF, 1620px 1826px #FFF, 843px 286px #FFF, 1809px 1000px #FFF, 1110px 1907px #FFF, 444px 1118px #FFF, 890px 481px #FFF, 426px 1240px #FFF, 1530px 998px #FFF, 265px 367px #FFF, 603px 910px #FFF, 688px 1418px #FFF, 1114px 503px #FFF, 1382px 1254px #FFF, 1485px 1443px #FFF, 1643px 1526px #FFF, 357px 583px #FFF, 561px 571px #FFF, 1538px 1078px #FFF, 14px 1302px #FFF, 618px 1441px #FFF, 1896px 1725px #FFF, 1824px 1716px #FFF, 1484px 269px #FFF, 972px 303px #FFF, 1261px 1812px #FFF, 360px 1796px #FFF, 592px 1683px #FFF, 491px 173px #FFF, 1293px 653px #FFF, 1946px 1394px #FFF, 1548px 1127px #FFF, 151px 630px #FFF, 739px 715px #FFF, 1857px 1650px #FFF, 444px 564px #FFF, 1377px 591px #FFF, 1060px 1075px #FFF, 1516px 1637px #FFF, 883px 1471px #FFF, 1829px 1119px #FFF, 36px 1678px #FFF, 686px 1977px #FFF, 776px 1605px #FFF, 652px 611px #FFF, 544px 1030px #FFF, 1190px 281px #FFF, 1445px 109px #FFF, 548px 1938px #FFF, 190px 1770px #FFF, 1306px 1487px #FFF, 960px 563px #FFF, 690px 1871px #FFF, 681px 1588px #FFF, 95px 412px #FFF, 1472px 476px #FFF, 1348px 194px #FFF, 1237px 609px #FFF, 1172px 1591px #FFF, 1112px 1478px #FFF, 150px 246px #FFF, 1015px 340px #FFF, 1527px 1245px #FFF, 1091px 1312px #FFF, 551px 1931px #FFF, 1441px 1876px #FFF, 853px 1736px #FFF, 189px 528px #FFF, 389px 820px #FFF, 796px 1610px #FFF, 970px 125px #FFF, 1871px 396px #FFF, 1927px 1040px #FFF, 306px 968px #FFF, 666px 1440px #FFF, 1819px 1974px #FFF, 1738px 787px #FFF, 758px 318px #FFF, 1318px 866px #FFF, 303px 709px #FFF, 223px 1128px #FFF, 1821px 1628px #FFF, 1486px 139px #FFF, 345px 611px #FFF, 1532px 916px #FFF, 654px 681px #FFF, 1699px 1575px #FFF, 1455px 712px #FFF, 1161px 403px #FFF, 485px 467px #FFF, 1460px 1831px #FFF, 1717px 1672px #FFF, 1127px 1692px #FFF, 1924px 67px #FFF, 313px 299px #FFF, 29px 513px #FFF, 359px 436px #FFF, 1198px 1428px #FFF, 1679px 1212px #FFF, 1855px 40px #FFF, 875px 942px #FFF, 2000px 1512px #FFF, 1576px 268px #FFF, 612px 1782px #FFF, 1957px 815px #FFF, 732px 1310px #FFF, 609px 1199px #FFF, 1962px 702px #FFF, 445px 1393px #FFF, 377px 1128px #FFF, 1957px 788px #FFF, 1154px 777px #FFF, 838px 1004px #FFF, 309px 1973px #FFF, 713px 920px #FFF, 1738px 1683px #FFF, 1913px 360px #FFF, 1754px 17px #FFF, 905px 606px #FFF, 41px 1302px #FFF, 1859px 68px #FFF, 463px 300px #FFF, 1517px 425px #FFF, 1065px 1322px #FFF, 379px 1180px #FFF, 202px 1817px #FFF, 609px 787px #FFF, 1700px 288px #FFF, 1368px 1850px #FFF, 1665px 1878px #FFF, 489px 13px #FFF, 1571px 892px #FFF, 1968px 1513px #FFF, 1815px 1433px #FFF, 469px 1216px #FFF, 689px 878px #FFF, 115px 239px #FFF, 571px 599px #FFF, 82px 1444px #FFF, 757px 1096px #FFF, 1660px 556px #FFF, 1940px 1477px #FFF, 1230px 772px #FFF, 1285px 1388px #FFF, 1144px 1297px #FFF, 1064px 1026px #FFF, 1409px 651px #FFF, 166px 583px #FFF;
}
.star-layers #stars3 {
  width: 3px;
  height: 3px;
  box-shadow: 1480px 1510px #FFF, 1740px 999px #FFF, 1422px 1845px #FFF, 932px 1980px #FFF, 1661px 1963px #FFF, 1365px 1484px #FFF, 1881px 789px #FFF, 1472px 1141px #FFF, 401px 844px #FFF, 1105px 516px #FFF, 1917px 1958px #FFF, 1624px 195px #FFF, 177px 98px #FFF, 1301px 1835px #FFF, 1453px 725px #FFF, 1481px 1573px #FFF, 79px 1928px #FFF, 1304px 1955px #FFF, 1226px 1564px #FFF, 1641px 773px #FFF, 166px 509px #FFF, 784px 274px #FFF, 1194px 838px #FFF, 1265px 541px #FFF, 50px 1008px #FFF, 1602px 1871px #FFF, 996px 254px #FFF, 121px 366px #FFF, 1288px 1394px #FFF, 69px 1384px #FFF, 763px 312px #FFF, 1443px 718px #FFF, 624px 1162px #FFF, 548px 342px #FFF, 343px 146px #FFF, 1179px 129px #FFF, 523px 1979px #FFF, 80px 21px #FFF, 797px 1216px #FFF, 1807px 1296px #FFF, 451px 1px #FFF, 1159px 877px #FFF, 1583px 1852px #FFF, 920px 1926px #FFF, 1479px 1295px #FFF, 1849px 58px #FFF, 1679px 849px #FFF, 1324px 1020px #FFF, 1050px 990px #FFF, 1834px 503px #FFF, 1370px 1621px #FFF, 197px 261px #FFF, 972px 573px #FFF, 1389px 1260px #FFF, 383px 817px #FFF, 731px 1538px #FFF, 198px 1146px #FFF, 236px 1573px #FFF, 521px 156px #FFF, 1696px 1501px #FFF, 947px 623px #FFF, 1534px 1759px #FFF, 131px 761px #FFF, 182px 1371px #FFF, 1404px 1880px #FFF, 595px 1443px #FFF, 1439px 484px #FFF, 731px 311px #FFF, 283px 1087px #FFF, 998px 28px #FFF, 457px 54px #FFF, 1633px 348px #FFF, 695px 820px #FFF, 1700px 1108px #FFF, 1820px 1777px #FFF, 1436px 1779px #FFF, 1644px 1230px #FFF, 564px 19px #FFF, 1461px 6px #FFF, 1251px 400px #FFF, 1918px 1152px #FFF, 432px 1388px #FFF, 252px 1066px #FFF, 1889px 1109px #FFF, 588px 418px #FFF, 1476px 54px #FFF, 584px 1073px #FFF, 1845px 575px #FFF, 352px 1535px #FFF, 697px 1161px #FFF, 725px 1656px #FFF, 1609px 300px #FFF, 839px 404px #FFF, 101px 1938px #FFF, 672px 55px #FFF, 323px 1153px #FFF, 1676px 1718px #FFF, 882px 1778px #FFF, 1899px 1607px #FFF, 1618px 1703px #FFF;
  animation: animStar 150s linear infinite;
}
.star-layers #stars3::after {
  width: 3px;
  height: 3px;
  box-shadow: 1480px 1510px #FFF, 1740px 999px #FFF, 1422px 1845px #FFF, 932px 1980px #FFF, 1661px 1963px #FFF, 1365px 1484px #FFF, 1881px 789px #FFF, 1472px 1141px #FFF, 401px 844px #FFF, 1105px 516px #FFF, 1917px 1958px #FFF, 1624px 195px #FFF, 177px 98px #FFF, 1301px 1835px #FFF, 1453px 725px #FFF, 1481px 1573px #FFF, 79px 1928px #FFF, 1304px 1955px #FFF, 1226px 1564px #FFF, 1641px 773px #FFF, 166px 509px #FFF, 784px 274px #FFF, 1194px 838px #FFF, 1265px 541px #FFF, 50px 1008px #FFF, 1602px 1871px #FFF, 996px 254px #FFF, 121px 366px #FFF, 1288px 1394px #FFF, 69px 1384px #FFF, 763px 312px #FFF, 1443px 718px #FFF, 624px 1162px #FFF, 548px 342px #FFF, 343px 146px #FFF, 1179px 129px #FFF, 523px 1979px #FFF, 80px 21px #FFF, 797px 1216px #FFF, 1807px 1296px #FFF, 451px 1px #FFF, 1159px 877px #FFF, 1583px 1852px #FFF, 920px 1926px #FFF, 1479px 1295px #FFF, 1849px 58px #FFF, 1679px 849px #FFF, 1324px 1020px #FFF, 1050px 990px #FFF, 1834px 503px #FFF, 1370px 1621px #FFF, 197px 261px #FFF, 972px 573px #FFF, 1389px 1260px #FFF, 383px 817px #FFF, 731px 1538px #FFF, 198px 1146px #FFF, 236px 1573px #FFF, 521px 156px #FFF, 1696px 1501px #FFF, 947px 623px #FFF, 1534px 1759px #FFF, 131px 761px #FFF, 182px 1371px #FFF, 1404px 1880px #FFF, 595px 1443px #FFF, 1439px 484px #FFF, 731px 311px #FFF, 283px 1087px #FFF, 998px 28px #FFF, 457px 54px #FFF, 1633px 348px #FFF, 695px 820px #FFF, 1700px 1108px #FFF, 1820px 1777px #FFF, 1436px 1779px #FFF, 1644px 1230px #FFF, 564px 19px #FFF, 1461px 6px #FFF, 1251px 400px #FFF, 1918px 1152px #FFF, 432px 1388px #FFF, 252px 1066px #FFF, 1889px 1109px #FFF, 588px 418px #FFF, 1476px 54px #FFF, 584px 1073px #FFF, 1845px 575px #FFF, 352px 1535px #FFF, 697px 1161px #FFF, 725px 1656px #FFF, 1609px 300px #FFF, 839px 404px #FFF, 101px 1938px #FFF, 672px 55px #FFF, 323px 1153px #FFF, 1676px 1718px #FFF, 882px 1778px #FFF, 1899px 1607px #FFF, 1618px 1703px #FFF;
}

/* Galeries */
.Workspace {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.WorkContent {
  background: #c56158;
  z-index: 100;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  height: 750px;
  width: 90%;
  border-radius: 15px;
  padding-bottom: 30px;
}

.title {
  text-align: center;
  font-size: 50px;
  font-family: title;
  color: #f9f871;
}

.Galerie {
  display: flex;
  padding-top: 50px;
  align-items: center;
}

.Galerie .GalerieContainer {
  margin: auto;
  display: grid;
  padding-top: 50px;
  width: 90%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px;
  grid-auto-rows: minmax(250px, 500px);
  align-items: center;
  transition: all 1s;
}

.Galerie .Test {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(10px, 500px);
  align-items: center;
  transition: all 1s;
}

.Galerie .GalerieContainer .Project {
  border-radius: 25px;
  display: flex;
  position: relative;
  width: 275px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #957777;
  align-items: center;
  outline-width: 3px;
  outline-style: solid;
  outline-color: rgba(249, 249, 113, 0);
  transition: all 1s;
  justify-content: center;
}

.Galerie .GalerieContainer .Project:hover {
  transition: all 1s;
  width: 150px;
  outline-color: #f09745;
}

.Galerie .Project a {
  width: 100%;
  height: 100%;
}

.Galerie .Project a img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  transition: all 1s;
  -o-object-fit: cover;
     object-fit: cover;
}

.Galerie .Project a:hover img {
  width: 100%;
  height: 100%;
  transition: all 1s;
  filter: none;
  -o-object-fit: cover;
     object-fit: cover;
  outline-color: #f09745;
}

.Galerie .Project .name {
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-family: text;
  font-weight: 600;
  transition: all 1s;
}

.Galerie .Project:hover .name {
  margin-top: 300px;
  transition: all 1s;
}

.Galerie .Project .tag {
  justify-content: center;
  margin: auto;
  background-color: #93567b;
  position: absolute;
  color: #f9f871;
  width: 100%;
  margin-top: 400px;
  text-align: center;
  font-size: 16px;
  font-family: text;
  transition: all 2s;
  border-radius: 8px;
}

.Galerie .Project:hover .tag {
  transition: all 1s;
  width: 50%;
}

.aboutme {
  display: flex;
  align-items: center;
  height: 800px;
  padding-top: 0px;
  margin: auto;
  /* background: linear-gradient(90deg, rgba(95,38,74,1) 0%, rgba(150,64,119,1) 35%, rgba(135,9,89,1) 100%); */
}

.aboutme .aboutmeBackground {
  display: flex;
  background: #56316b;
  z-index: 100;
  margin: auto;
  align-items: center;
  width: 60%;
  height: 70%;
  vertical-align: middle;
  border-radius: 30px;
  outline: 3px dashed #884daa;
}

.aboutme .aboutmeContainer {
  margin: auto;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.aboutmeContainer .Content {
  height: 80%;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  border: 0.3em white;
  border-style: dotted;
  border-radius: 17px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
}

.aboutmeContainer .title {
  font-size: 60px;
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 50px;
  padding-left: 0px;
  color: #f9f871;
}

.aboutmeContainer .textPresentation {
  padding-top: 0px;
  text-align: justify;
  font-family: text;
  color: white;
}

.aboutme a {
  all: unset;
  color: white;
}

.aboutme .AboutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-family: text;
  font-weight: 600;
  color: white;
  width: 20%;
  border-radius: 15px;
  border: 3px solid white;
  transition: all 1s;
  text-decoration: none;
  margin-top: 55px;
  height: 70px;
  font-size: 20px;
}

.aboutme .AboutButton:hover {
  width: 25%;
  background-color: #f09745;
  transition: all 0.5s;
  border: 3px solid #f09745;
  font-size: 25px;
}

.tools {
  display: flex;
  margin: auto;
  align-items: center;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  width: 50%;
  height: 300px;
}

.tools .contentBox {
  border-radius: 25px;
  background-color: #27101f;
  margin: auto;
  width: 80%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
}

.tools .title {
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.tools .toolsIcon {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  grid-auto-columns: minmax(10px, 300px);
  align-items: center;
}

.tools .langue {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  font-family: text;
  text-align: center;
  min-width: 50px;
  max-width: -moz-max-content;
  max-width: max-content;
  font-size: 25px;
}

.tools .script .scriptName {
  color: white;
  margin-left: 10px;
  font-family: text;
}

.Footer {
  display: flex;
  height: 400px;
  width: 100%;
}

.Footer .FooterBlock {
  align-items: center;
  height: 250px;
  z-index: 100;
  background-color: #5f477d;
  width: 40%;
  margin: auto;
  border-radius: 20px;
}

.Footer .Title {
  padding-top: 50px;
  font-family: title;
  text-align: center;
  font-size: 40px;
  color: #f9f871;
}

.Footer a {
  all: unset;
  display: flex;
  vertical-align: middle;
  align-items: center;
  margin-left: 15px;
  border: 3px solid white;
  border-radius: 10px;
  transition: all 1s;
}

.Footer a:hover {
  border: none;
  background-color: #fac05a;
  transition: all 1s;
}

.Footer .ImageContact img {
  padding-left: 15px;
  width: 45px;
  height: 45px;
}

.Footer .Text {
  /* padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px; */
  font-family: text;
  font-size: 20px;
  font-weight: 600;
  font-stretch: ultra-expanded;
  color: white;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px;
  height: -moz-fit-content;
  height: fit-content;
}

.Footer .Text:hover {
  color: #f9f871;
}

.Footer .FooterContainer {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100px;
}

.Footer .reseau {
  display: flex;
  align-items: center;
  vertical-align: middle;
  font-family: text;
  margin-left: auto;
  margin-right: auto;
}

.Footer .reseau img {
  width: 50px;
  height: 50px;
}

@media (max-width: 1000px) {
  .Footer .FooterBlock {
    width: 80%;
  }
  .Footer .Title {
    font-size: 60px;
  }
  .Footer .Text {
    font-size: 30px;
  }
  /* // Nav bar */
  .navbar .ButtonContainer {
    width: 650px;
    height: 70px;
  }
  .navbar .ButtonContainer .Button {
    text-align: center;
    vertical-align: middle;
    width: 120px;
    height: 30px;
    font-size: 24px;
  }
  /* // Project sections  */
  .WorkContent {
    width: 90%;
  }
  /* // Star Layer   */
  .star-layers {
    height: 3000px;
  }
  /* // About me sections */
  .aboutme {
    height: 900px;
  }
  .aboutme .aboutmeBackground {
    width: 90%;
    height: 80%;
  }
  .aboutme .textPresentation {
    font-size: 25px;
  }
  .aboutme .AboutButton {
    margin-top: 30px;
    width: 30%;
    font-size: 30px;
  }
  .presentation {
    width: 100%;
    height: 600px;
    display: flex;
  }
  .WorkContent {
    padding-top: 100px;
    height: 700px;
    background: #27101f;
  }
  .Galerie .GalerieContainer {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    grid-auto-rows: minmax(50px, auto);
    align-items: center;
  }
  .Galerie .GalerieContainer .Project {
    display: flex;
    position: relative;
    width: 150px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #957777;
    align-items: center;
  }
  .Galerie .Project .tag {
    margin-left: 10px;
    margin-right: 20px;
    background-color: #5F264A;
    position: absolute;
    color: #c7b1b1;
    width: 93%;
    margin-top: 300px;
    text-align: center;
    font-size: 15px;
    font-family: text;
  }
  .Galerie .Project:hover {
    transition: all 1s;
    width: 250px;
    outline-color: #f9f871;
  }
  .Galerie .Project a:hover img {
    width: 100%;
    height: 100%;
    transition: all 1s;
    filter: none;
  }
  .Galerie .Project:hover .name {
    margin-top: 0px;
    transition: all 0s;
  }
}/*# sourceMappingURL=styles.css.map */